force-app/main/default/flows/Account_Blocking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Block_account</name>
        <label>Block account</label>
        <locationX>506</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>loop.Blocked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_date</name>
        <label>check date</label>
        <locationX>497</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOA_DPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop.Date_of_Approval__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>blockdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_account</targetReference>
            </connector>
            <label>DOA + DPA</label>
        </rules>
    </decisions>
    <description>block account after 3 days</description>
    <formulas>
        <name>blockdate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-{!loop.Credit_Days__c} - 3</expression>
    </formulas>
    <interviewLabel>Account Blocking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Blocking</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>337</locationX>
        <locationY>311</locationY>
        <collectionReference>getaccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getaccount</name>
        <label>getaccount</label>
        <locationX>177</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_of_Approval__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Blocked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>51</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>getaccount</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-02</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
