force-app/main/default/flows/Address_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_Billing_Street</name>
        <label>Split Billing Street</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>StringSplitter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Billing_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxLength</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>StringSplitter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Billing_Counter</name>
        <label>Set Billing Counter</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varBillingCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Billing_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Street</name>
        <label>Set Billing Street</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Street_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_Billing_Street</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Billing_Counter</name>
        <label>Check Billing Counter</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillingCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Street_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillingCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Street_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Address Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address Split</label>
    <loops>
        <name>Loop_Billing_Address</name>
        <label>Loop Billing Address</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Split_Billing_Street.substrings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Billing_Counter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Billing_Street_1</name>
        <label>Update Billing Street 1</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_Billing_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Street_1__c</field>
            <value>
                <elementReference>Loop_Billing_Address</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Street_2</name>
        <label>Update Billing Street 2</label>
        <locationX>528</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_Billing_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Street_2__c</field>
            <value>
                <elementReference>Loop_Billing_Address</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Billing_Street</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varBillingCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
