force-app/main/default/flows/Auto_Visit_End.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Visit_End_Assignment</name>
        <label>Visit End Assignment</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visit_End_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Connects.Check_In_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Geo_Coordinate__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Connects.Check_In_Location__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Geo_Coordinate__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Connects.Check_In_Location__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Visit_End_Assignment_If_No_Customer_Connect</name>
        <label>Visit End Assignment If No Customer Connect</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visit_End_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Geo_Coordinate__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source_Geo_Coordinate__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Geo_Coordinate__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source_Geo_Coordinate__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visit_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Connect_Check</name>
        <label>Customer Connect Check</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Visit_End_Assignment_If_No_Customer_Connect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Connect_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Connects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visit_End_Assignment</targetReference>
            </connector>
            <label>Customer Connect Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expense_Created</name>
        <label>Expense Created?</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Connect_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Connects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Travel_RecordTypeId</targetReference>
            </connector>
            <label>Customer Connect Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Auto Visit End {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Visit End</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Expense</name>
        <label>Create Expense</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <inputAssignments>
            <field>Accepted_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accompanied__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Connect__c</field>
            <value>
                <elementReference>Customer_Connects.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>Customer_Connects.Visit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From__c</field>
            <value>
                <elementReference>$Record.Destination_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>$Record.Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TravelRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>Customer_Connects.Visit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To__c</field>
            <value>
                <elementReference>$Record.Destination_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Customer_Connects</name>
        <label>Customer Connects</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Connect_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Check_In_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Connect__c</object>
        <sortField>Check_In_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Travel_RecordTypeId</name>
        <label>Get Travel RecordTypeId</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Expense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TravelRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Visit_Record</name>
        <label>Update Visit Record</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Expense_Created</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Connects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_End_DateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Visit__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TravelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
