force-app/main/default/flows/auto_populate_customer_mobile_from_contact_on_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_address</name>
        <label>assign address</label>
        <locationX>914</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pickup_Address1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pickup_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_coordinates</name>
        <label>assign coordinates</label>
        <locationX>1504</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pickup_Coordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.MailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pickup_Coordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.MailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_shipper_pincode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_customer_name</name>
        <label>assign customer name</label>
        <locationX>1159</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_claim_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_email</name>
        <label>assign email</label>
        <locationX>743</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>customer_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_mobile</name>
        <label>assign mobile</label>
        <locationX>738</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>$Record.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pick_up_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_name</name>
        <label>assign name</label>
        <locationX>535</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>$Record.Shipper_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_phone</name>
        <label>assign phone</label>
        <locationX>1732</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>$Record.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.Phone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_pickup_city</name>
        <label>assign pickup city</label>
        <locationX>1319</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pickup_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>coordinates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_pincode</name>
        <label>assign pincode</label>
        <locationX>1521</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>$Record.Shipper_Pincode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>claims_address</name>
        <label>claims address</label>
        <locationX>1090</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>$Record.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pickup_city</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_claim_address</name>
        <label>check claim address</label>
        <locationX>1082</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>pickup_city</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>claim_address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>claims_address</targetReference>
            </connector>
            <label>claim address</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_mobile</name>
        <label>check mobile</label>
        <locationX>556</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>pick_up_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_mobile</targetReference>
            </connector>
            <label>check customer mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_phone</name>
        <label>check phone</label>
        <locationX>1651</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>phone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_contact.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_phone</targetReference>
            </connector>
            <label>phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_shipper_pincode</name>
        <label>check shipper pincode</label>
        <locationX>1514</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>check_phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>shipper_pincode</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipper_Pincode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_pincode</targetReference>
            </connector>
            <label>shipper pincode</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_types</name>
        <label>checking types</label>
        <locationX>266</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pick_up</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>check record type</label>
        </rules>
    </decisions>
    <decisions>
        <name>coordinates</name>
        <label>coordinates</label>
        <locationX>1319</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>check_shipper_pincode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_coordinates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Coordinates__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Coordinates__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_coordinates</targetReference>
            </connector>
            <label>check coordinates</label>
        </rules>
    </decisions>
    <decisions>
        <name>customer_name</name>
        <label>customer name</label>
        <locationX>904</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>check_claim_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_customer_name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_customer_name</targetReference>
            </connector>
            <label>check customer name</label>
        </rules>
    </decisions>
    <decisions>
        <name>email</name>
        <label>email</label>
        <locationX>544</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>customer_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_email</targetReference>
            </connector>
            <label>check email</label>
        </rules>
    </decisions>
    <decisions>
        <name>pick_up_address</name>
        <label>pick up address</label>
        <locationX>901</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>pickup_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Address1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_address</targetReference>
            </connector>
            <label>check address</label>
        </rules>
    </decisions>
    <decisions>
        <name>pickup_city</name>
        <label>pickup city</label>
        <locationX>1304</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>coordinates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_pickup_city</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_pickup_city</targetReference>
            </connector>
            <label>check pickup city</label>
        </rules>
    </decisions>
    <decisions>
        <name>pickup_name</name>
        <label>pickup name</label>
        <locationX>719</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipper_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_name</targetReference>
            </connector>
            <label>check name</label>
        </rules>
    </decisions>
    <interviewLabel>auto populate customer mobile from contact on case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>auto populate customer mobile from contact on case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>129</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_mobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>142</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>checking_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
