force-app/main/default/flows/AutoPopulateCrossSell.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>IsZoneExists</name>
        <label>IsZoneExists</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfDELthenNorth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DEL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNorth</targetReference>
            </connector>
            <label>IfDELthenNorth</label>
        </rules>
        <rules>
            <name>IfCCUthenEast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CCU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEast</targetReference>
            </connector>
            <label>IfCCUthenEast</label>
        </rules>
        <rules>
            <name>IfBOMthenWest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BOM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetWest</targetReference>
            </connector>
            <label>IfBOMthenWest</label>
        </rules>
        <rules>
            <name>IfBLRthenSouth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__r.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BLR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPincode.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSouth</targetReference>
            </connector>
            <label>IfBLRthenSouth</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AutoPopulateCrossSell {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoPopulateCrossSellZoneinLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPincode</name>
        <label>GetPincode</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsZoneExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetEast</name>
        <label>SetEast</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Cross_Sell_Zone__c</field>
            <value>
                <stringValue>East</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetNorth</name>
        <label>SetNorth</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Cross_Sell_Zone__c</field>
            <value>
                <stringValue>North</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetSouth</name>
        <label>SetSouth</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Cross_Sell_Zone__c</field>
            <value>
                <stringValue>South</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetWest</name>
        <label>SetWest</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Cross_Sell_Zone__c</field>
            <value>
                <stringValue>West</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPincode</targetReference>
        </connector>
        <filterLogic>1 AND 2  AND 3 AND 4</filterLogic>
        <filters>
            <field>PostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross Sell</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cross_Sell_Lead_Created_From__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gati CRM</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
