force-app/main/default/flows/Bill_Back_closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_auto_closure</name>
        <label>Add auto closure</label>
        <locationX>617</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_record_add_extn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>auto_close_bill_back</name>
        <label>auto close bill back</label>
        <locationX>799</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposed_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approver_Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_bill_back_06</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>after_10days_auto_closure</name>
        <label>after 10days auto closure</label>
        <locationX>519</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>auto_closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill back of Expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Charge_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>auto_close_bill_back</targetReference>
            </connector>
            <label>auto closure</label>
        </rules>
    </decisions>
    <decisions>
        <name>case_closing_condn</name>
        <label>case closing condn</label>
        <locationX>307</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>add_extension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADD Extension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_auto_closure</targetReference>
            </connector>
            <label>add extension</label>
        </rules>
    </decisions>
    <decisions>
        <name>X10_days_bill_back</name>
        <label>10 days bill back</label>
        <locationX>419</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bill_back_auto_closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill back of Expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_billback_10_days</targetReference>
            </connector>
            <label>bill back auto closure</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseautoclose</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+2</expression>
    </formulas>
    <formulas>
        <name>closure</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Bill Back closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bill Back closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_bill_back_06</name>
        <label>update  bill back 06</label>
        <locationX>1048</locationX>
        <locationY>122</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_billback_10_days</name>
        <label>update billback 10 days</label>
        <locationX>782</locationX>
        <locationY>298</locationY>
        <inputAssignments>
            <field>Approval_Amount__c</field>
            <value>
                <elementReference>$Record.Proposed_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>closure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_Remarks__c</field>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_add_extn</name>
        <label>update record add extn</label>
        <locationX>1056</locationX>
        <locationY>391</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>15</locationY>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bill back of Expenses</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADD Extension</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_days</name>
            <connector>
                <targetReference>case_closing_condn</targetReference>
            </connector>
            <label>2 days</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Agreed_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_days</name>
            <connector>
                <targetReference>X10_days_bill_back</targetReference>
            </connector>
            <label>10 days</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10days</name>
            <connector>
                <targetReference>after_10days_auto_closure</targetReference>
            </connector>
            <label>10days</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
