force-app/main/default/flows/CCEC_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Manual_CCEC_Class_for_Updation</name>
        <label>Call Manual CCEC Class for Updation</label>
        <locationX>281</locationX>
        <locationY>529</locationY>
        <actionName>ManualCCECOutboundAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccecid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManualCCECOutboundAPI</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>check</name>
        <label>check</label>
        <locationX>437</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_new_remark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Total_CCEC_Remarks__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_CCEC_Remarks__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Manual_CCEC_Class_for_Updation</targetReference>
            </connector>
            <label>if not new ccec remark</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Integration_user</name>
        <label>check if Integration user</label>
        <locationX>659</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_Integration_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>IntegrationProfile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>IntegrationProfile1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check</targetReference>
            </connector>
            <label>if not Integration user</label>
        </rules>
    </decisions>
    <interviewLabel>Manual CCEC Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCEC Updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_if_Integration_user</targetReference>
        </connector>
        <object>CCEC__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IntegrationProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>User API</stringValue>
        </value>
    </variables>
    <variables>
        <name>IntegrationProfile1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>API User</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
