force-app/main/default/flows/Complaint_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_CSCO</name>
        <label>Email to CSCO</label>
        <locationX>3218</locationX>
        <locationY>816</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contacts_4.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>test1@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject4</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_EDC</name>
        <label>Email to EDC</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contacts_2.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>test1@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_GDW</name>
        <label>Email to GDW</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contacts_1.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>test1@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_HSCO</name>
        <label>Email to HSCO</label>
        <locationX>2162</locationX>
        <locationY>816</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contacts_3.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>test1@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject3</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Level_1_Records</name>
        <label>Update Level 1 Records</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ESC 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalation_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated to OU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Level_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Level_2_Records</name>
        <label>Update Level 2 Records</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ESC 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalation_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated to EDC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Level_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Level_3_Records</name>
        <label>Update Level 3 Records</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ESC 4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalation_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated to HSCO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Level_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Level_4_Records</name>
        <label>Update Level 4 Records</label>
        <locationX>3218</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ESC 5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalation_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated to CSCO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Level_4</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Complaint_Record_Type_1</name>
        <label>Complaint Record Type 1</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Name_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_1</targetReference>
            </connector>
            <label>Record Type Name 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complaint_Record_Type_2</name>
        <label>Complaint Record Type 2</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Name_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_2</targetReference>
            </connector>
            <label>Record Type Name 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complaint_Record_Type_3</name>
        <label>Complaint Record Type 3</label>
        <locationX>2690</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Name_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_3</targetReference>
            </connector>
            <label>Record Type Name 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complaint_Record_Type_4</name>
        <label>Complaint Record Type 4</label>
        <locationX>3746</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Name_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_4</targetReference>
            </connector>
            <label>Record Type Name 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Level1</name>
        <label>Escalation Level1</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Level_1_Records</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Level2</name>
        <label>Escalation Level2</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Level_2_Records</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Level3</name>
        <label>Escalation Level3</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Level_3_Records</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Level4</name>
        <label>Escalation Level4</label>
        <locationX>3482</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Level_4_Records</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EscalatedtoLevel1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate}+2</expression>
    </formulas>
    <formulas>
        <name>EscalatedtoLevel2</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate}+3</expression>
    </formulas>
    <formulas>
        <name>EscalatedtoLevel3</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate}+4</expression>
    </formulas>
    <interviewLabel>Complaint Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complaint Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts_1</name>
        <label>Get Contacts 1</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Level1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>abc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Complaint_Actionable_OU__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>BANK_BRANCH_NAME__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unit Head GDW</stringValue>
            </value>
        </filters>
        <filters>
            <field>STAFF_STATUS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_2</name>
        <label>Get Contacts 2</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Level2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>abc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Complaint_Actionable_OU__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>BANK_BRANCH_NAME__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Head EDC Operations</stringValue>
            </value>
        </filters>
        <filters>
            <field>STAFF_STATUS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_3</name>
        <label>Get Contacts 3</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Level3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>abc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Complaint_Actionable_OU__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>BANK_BRANCH_NAME__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Head - Supply Chain Operations</stringValue>
            </value>
        </filters>
        <filters>
            <field>STAFF_STATUS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_4</name>
        <label>Get Contacts 4</label>
        <locationX>3482</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Level4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>abc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Complaint_Actionable_OU__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>BANK_BRANCH_NAME__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Supply Chain Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>STAFF_STATUS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_Level_1</name>
        <label>Update Records Level 1</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Email_to_GDW</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_Level_2</name>
        <label>Update Records Level 2</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Email_to_EDC</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_Level_3</name>
        <label>Update Records Level 3</label>
        <locationX>2162</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Email_to_HSCO</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_Level_4</name>
        <label>Update Records Level 4</label>
        <locationX>3218</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Email_to_CSCO</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Escalation_Level_1</name>
            <connector>
                <targetReference>Complaint_Record_Type_1</targetReference>
            </connector>
            <label>Escalation Level 1</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Esclation_Date1__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Escalation_Level_2</name>
            <connector>
                <targetReference>Complaint_Record_Type_2</targetReference>
            </connector>
            <label>Escalation Level 2</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Esclation_Date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Escalation_Level_3</name>
            <connector>
                <targetReference>Complaint_Record_Type_3</targetReference>
            </connector>
            <label>Escalation Level 3</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Esclation_Date3__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Escalation_Level_4</name>
            <connector>
                <targetReference>Complaint_Record_Type_4</targetReference>
            </connector>
            <label>Escalation Level 4</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Esclation_Date4__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;We have received a Complaint at {!$Record.CreatedBy.Organi__c}. Complaint and Escalation details are as follows : &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint No -&amp;nbsp;{!$Record.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Date - {!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Docket No -&amp;nbsp;{!$Record.Docket_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Action OU - {!$Record.Complaint_Actionable_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;CCEC OU&amp;nbsp;- {!$Record.CCEC_Action_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Current Escalation Level - {!$Record.Escalation_Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Next Escalation time - {!EscalatedtoLevel1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Next Escalation Level - Escalated to EDC&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;We have received a Complaint at {!$Record.CreatedBy.Organi__c}. Complaint and Escalation details are as follows :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint No -&amp;nbsp;{!$Record.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Date - {!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Docket No -&amp;nbsp;{!$Record.Docket_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Action OU - {!$Record.Complaint_Actionable_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;CCEC OU&amp;nbsp;- {!$Record.CCEC_Action_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Current Escalation Level - {!$Record.Escalation_Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Next Escalation time - {!EscalatedtoLevel2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Next Escalation Level - Escalated to HSCO&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;We have received a Complaint at {!$Record.CreatedBy.Organi__c}. Complaint and Escalation details are as follows :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint No -&amp;nbsp;{!$Record.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Date - {!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Docket No -&amp;nbsp;{!$Record.Docket_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Action OU - {!$Record.Complaint_Actionable_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;CCEC OU&amp;nbsp;- {!$Record.CCEC_Action_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Current Escalation Level - {!$Record.Escalation_Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Next Escalation time - {!EscalatedtoLevel3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Next Escalation Level - Escalated to CSCO&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;We have received a Complaint at {!$Record.CreatedBy.Organi__c}. Complaint and Escalation details are as follows :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint No -&amp;nbsp;{!$Record.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Date - {!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Docket No -&amp;nbsp;{!$Record.Docket_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Complaint Action OU - {!$Record.Complaint_Actionable_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;CCEC OU&amp;nbsp;- {!$Record.CCEC_Action_OU__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Current Escalation Level - {!$Record.Escalation_Description__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Complaint Escalation : {!$Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Complaint Escalation : {!$Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Complaint Escalation : {!$Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject4</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Complaint Escalation : {!$Record.CaseNumber}</text>
    </textTemplates>
</Flow>
