force-app/main/default/flows/Complaint_email_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closure</name>
        <label>Closure</label>
        <locationX>774</locationX>
        <locationY>305</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>close</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AccountOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Complaint Closure</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>closure_on_pending_pickup</name>
        <label>closure on pending pickup</label>
        <locationX>788</locationX>
        <locationY>439</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>pickupemailtemp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AccountOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Complaint Closure</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ReClassification</name>
        <label>ReClassification</label>
        <locationX>776</locationX>
        <locationY>119</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>change</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AccountOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Complaint Re-classification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>owner</name>
        <label>owner</label>
        <locationX>181</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>AccountOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_check</name>
        <label>Case check</label>
        <locationX>322</locationX>
        <locationY>316</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint_Reclassification</name>
            <conditionLogic>((1 OR 2) AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Sub_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sub_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReClassification</targetReference>
            </connector>
            <label>Complaint Reclassification</label>
        </rules>
        <rules>
            <name>Complaint_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_pending_pickup</targetReference>
            </connector>
            <label>Complaint Closure</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_pending_pickup</name>
        <label>check pending pickup</label>
        <locationX>520</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Closure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_pending_pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closure_on_pending_pickup</targetReference>
            </connector>
            <label>if pending pickup</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Complaint email flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complaint email flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>change</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer_Name__c},&lt;/p&gt;&lt;p&gt;This is to inform you that your complaint has been re-classified to {!$Record.Type} &amp;gt; {!$Record.Sub_Type__c}. Complaint Number is {!$Record.CaseNumber}.&lt;/p&gt;&lt;p&gt;We are working at our best to close this case asap.&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Gati Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>close</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Customer,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your complaint with reference number ({!$Record.CaseNumber}) for ({!$Record.Type}) of docket number ({!$Record.Docket_Number__c}), registered on ({!$Record.CreatedDate}) has been closed on ({!$Record.ClosedDate}).&lt;/p&gt;&lt;p&gt;In case of any further concerns or if you are not satisfied with the closure, please reach out on 1860-123-4284 or write to customerservice@gati.com.&lt;/p&gt;&lt;p&gt;Do share your quick feedback on the link below to help us serve you even better.&lt;/p&gt;&lt;p&gt;Feedback Link: &lt;a href=&quot;https://gati.secure.force.com/PostIssueResolution?Caseno={!$Record.CaseNumber}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Thank you for partnering with us for your logistics requirements.&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Team Gati – KWE&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gatikwepvtltd--uat--c.documentforce.com/servlet/servlet.ImageServer?id=015p0000000fBaW&amp;amp;oid=00Dp0000000Dvv2&amp;amp;lastMod=1632729375000&quot; title=&quot;Click Here&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>new</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi User,&lt;/p&gt;&lt;p&gt;A new complaint has been registered for {!$Record.Account.Name}.&lt;/p&gt;&lt;p&gt;Thanks and regards,&lt;/p&gt;&lt;p&gt;Gati&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>pickupemailtemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Customer,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your complaint with reference number {!$Record.CaseNumber} for ({!$Record.Type}) of pickup slip number ({!$Record.Pick_Up_Ref_No__c}), registered on ({!$Record.CreatedDate}) has been closed on ({!$Record.ClosedDate}).&lt;/p&gt;&lt;p&gt;In case of any further concerns or if you are not satisfied with the closure, please reach out on 1860-123-4284 or write to customerservice@gati.com.&lt;/p&gt;&lt;p&gt;Do share your quick feedback on the link below to help us serve you even better.&lt;/p&gt;&lt;p&gt;Feedback Link: &lt;a href=&quot;https://gati.secure.force.com/PostIssueResolution?Caseno={!$Record.CaseNumber}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Thank you for partnering with us for your logistics requirements.&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Team Gati – KWE&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gatikwepvtltd--uat--c.documentforce.com/servlet/servlet.ImageServer?id=015p0000000fBaW&amp;amp;oid=00Dp0000000Dvv2&amp;amp;lastMod=1632729375000&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
