force-app/main/default/flows/Contract_Amend_Renew_Sub_Flow_Opty_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_1</name>
        <label>assign 1</label>
        <locationX>752</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>Opty_Prod</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opty_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_var</name>
        <label>assign var</label>
        <locationX>553</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>loop.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Clone_Opty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opty_products.From_EDC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop.From_EDC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opty_products.To_EDC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop.To_EDC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opty_products.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Clone_Opty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opty_products.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opty_products.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opty_products.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_new_opty_id</name>
        <label>get new opty id</label>
        <locationX>302</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>NewOptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Clone_Opty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_opp_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>name_assign</name>
        <label>name assign</label>
        <locationX>52</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>OptyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OptyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opty_record.Account.Total_Opportunities__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_Opty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>get_lane</name>
        <label>get lane</label>
        <locationX>306</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_lane_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop</targetReference>
            </connector>
            <label>check lane item</label>
        </rules>
    </decisions>
    <interviewLabel>Contract Amend &amp; Renew Sub Flow - Opty creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Amend &amp; Renew Sub Flow - Opty creation</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>463</locationX>
        <locationY>174</locationY>
        <collectionReference>get_opp_line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clone_Opty</name>
        <label>Create Clone Opty</label>
        <locationX>173</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>get_new_opty_id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitior_Details__c</field>
            <value>
                <elementReference>Get_Opty_record.Competitior_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Classification__c</field>
            <value>
                <elementReference>Get_Opty_record.Customer_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gati_Company_Code__c</field>
            <value>
                <elementReference>Get_Opty_record.Gati_Company_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Opty_record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OptyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type_Contract__c</field>
            <value>
                <elementReference>OpptyTypeContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_Opty_record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_products</name>
        <label>create products</label>
        <locationX>460</locationX>
        <locationY>416</locationY>
        <inputReference>Opty_Prod</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_opp_line</name>
        <label>get opp line</label>
        <locationX>309</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_lane</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opty_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>To_EDC__c</queriedFields>
        <queriedFields>From_EDC__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opty_record</name>
        <label>Get Opty record</label>
        <locationX>52</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>name_assign</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>94</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Get_Opty_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Create_Clone_Opty</elementReference>
        </value>
    </variables>
    <variables>
        <name>OpptyTypeContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Prod</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opty_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OptyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptyStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
