force-app/main/default/flows/Contract_follow_up_task_for_zonal_CMS_at_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_BLR_CMS</name>
        <label>Update BLR CMS</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varCMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BLR_CMS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_opportunity_with_CMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BOM_CMS</name>
        <label>Update BOM CMS</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varCMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BOM_CMS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_opportunity_with_CMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CCU_CMS</name>
        <label>Update CCU CMS</label>
        <locationX>1634</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varCMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CCU_CMS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_opportunity_with_CMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_DEL_CMS</name>
        <label>Update DEL CMS</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varCMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DEL_CMS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_opportunity_with_CMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BLR_CMS_Role_Check</name>
        <label>BLR CMS Role Check</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLR_CMS_Role_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BLR_CMS_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BLR_CMS</targetReference>
            </connector>
            <label>BLR CMS Role Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>BLR_CMS_User_Check</name>
        <label>BLR CMS User Check</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLR_CMS_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BLR_CMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BLR_CMS</targetReference>
            </connector>
            <label>BLR CMS User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>BOM_CMS_Role_Check</name>
        <label>BOM CMS Role Check</label>
        <locationX>1172</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BOM_CMS_Role_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BOM_CMS_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BOM_CMS</targetReference>
            </connector>
            <label>BOM CMS Role Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>BOM_CMS_User_Check</name>
        <label>BOM CMS User Check</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BOM_CMS_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BOM_CMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BOM_CMS</targetReference>
            </connector>
            <label>BOM CMS User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCU_CMS_Role_Check</name>
        <label>CCU CMS Role Check</label>
        <locationX>1964</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCU_CMS_Role_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CCU_CMS_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CCU_CMS</targetReference>
            </connector>
            <label>CCU CMS Role Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCU_CMS_User_Check</name>
        <label>CCU CMS User Check</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCU_CMS_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CCU_CMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CCU_CMS</targetReference>
            </connector>
            <label>CCU CMS User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEL_CMS_Role_Check</name>
        <label>DEL CMS Role Check</label>
        <locationX>2756</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEL_CMS_Role_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DEL_CMS_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DEL_CMS</targetReference>
            </connector>
            <label>DEL CMS Role Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEL_CMS_User_Check</name>
        <label>DEL CMS User Check</label>
        <locationX>2558</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEL_CMS_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DEL_CMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DEL_CMS</targetReference>
            </connector>
            <label>DEL CMS User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>OU_code_check</name>
        <label>OU code check</label>
        <locationX>1799</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLR_OU_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OU_code_from_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OU_code_from_account.Zone_OU_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BLR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BLR_CMS_Role</targetReference>
            </connector>
            <label>BLR OU found</label>
        </rules>
        <rules>
            <name>BOM_OU_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OU_code_from_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OU_code_from_account.Zone_OU_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BOM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BOM_CMS_Role</targetReference>
            </connector>
            <label>BOM OU found</label>
        </rules>
        <rules>
            <name>CCU_OU_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OU_code_from_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OU_code_from_account.Zone_OU_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CCU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CCU_CMS_Role</targetReference>
            </connector>
            <label>CCU OU found</label>
        </rules>
        <rules>
            <name>DEL_OU_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OU_code_from_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OU_code_from_account.Zone_OU_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DEL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DEL_CMS_Role</targetReference>
            </connector>
            <label>DEL OU found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract follow-up task for zonal CMS at opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract follow-up task for zonal CMS at opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_follow_up_task</name>
        <label>Create follow-up task</label>
        <locationX>1799</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please generate the contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow-up for contract generation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_opportunity_with_CMS</name>
        <label>Share opportunity with CMS</label>
        <locationX>1799</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Create_follow_up_task</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varCMS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BLR_CMS</name>
        <label>Get BLR CMS</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BLR_CMS_User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BLR_CMS_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BLR_CMS_Role</name>
        <label>Get BLR CMS Role</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BLR_CMS_Role_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLRCMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BOM_CMS</name>
        <label>Get BOM CMS</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BOM_CMS_User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BOM_CMS_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ansari.shakil@gatik.uat.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BOM_CMS_Role</name>
        <label>Get BOM CMS Role</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BOM_CMS_Role_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BOMCMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CCU_CMS</name>
        <label>Get CCU CMS</label>
        <locationX>1766</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CCU_CMS_User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CCU_CMS_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CCU_CMS_Role</name>
        <label>Get CCU CMS Role</label>
        <locationX>1964</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CCU_CMS_Role_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCUCMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DEL_CMS</name>
        <label>Get DEL CMS</label>
        <locationX>2558</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEL_CMS_User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_DEL_CMS_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DEL_CMS_Role</name>
        <label>Get DEL CMS Role</label>
        <locationX>2756</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEL_CMS_Role_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DELCMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OU_code_from_account</name>
        <label>Get OU code from account</label>
        <locationX>1799</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OU_code_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Associated_OU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OU_code_from_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Type_Contract__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New Contract</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
