force-app/main/default/flows/Create_a_task_for_Zonal_BDFS_manager_to_fill_the_credit_rating_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_a_task_to_Zonal_BDFS_Head</name>
        <label>Create a task to Zonal BDFS Head</label>
        <locationX>847</locationX>
        <locationY>114</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>BDFS.User__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Please fill the credit rating data at the qualified stage as LOF is created for the Opportunity against the contract.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>If_Associated_OU_exists</name>
        <label>If Associated_OU exists</label>
        <locationX>382</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AssociatedOU_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Associated_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PANNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OU_Zone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BDFS</targetReference>
            </connector>
            <label>If AssociatedOU exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_equals_null</name>
        <label>If User not equals null</label>
        <locationX>636</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_is_not_equals_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BDFS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Associated_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OU_Zone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_task_to_Zonal_BDFS_Head</targetReference>
            </connector>
            <label>If User is not equals null</label>
        </rules>
    </decisions>
    <description>Creating a task for Zonal BDFS manager to fill the credit rating data at the qualified
stage after LOF is created for the Opportunity against the contract .</description>
    <interviewLabel>Create a task for Zonal BDFS manager to fill the credit rating data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a task for Zonal BDFS manager to fill the credit rating data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BDFS</name>
        <label>BDFS</label>
        <locationX>503</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_equals_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.OU_Zone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BDFS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Org_Master_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>If_Associated_OU_exists</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Count__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
