force-app/main/default/flows/Cross_Sell_Lead_Status_Vs_Lead_Status_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Leads</name>
        <label>Convert Leads</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Cross_Sell_Lead_Status_Assigned_OR_In_Progress_Working</name>
        <label>Cross Sell Lead Status Assigned OR In-Progress/Working</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Cross_Sell_Lead_Status_Cold_Storage_Re_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_OR_In_Progress_Working</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Working</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Assigned OR In-Progress/Working</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cross_Sell_Lead_Status_Cold_Storage_Re_Visit</name>
        <label>Cross Sell Lead Status Cold Storage/Re Visit</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Cross_Sell_Lead_Status_Qualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cold_Storage_Re_Visit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Revisit</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cold Storage/Re Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cross_Sell_Lead_Status_Qualified</name>
        <label>Cross Sell Lead Status Qualified</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Leads</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cross_Sell_Lead_Status_Rejected_by_SPOC_Disqualified</name>
        <label>Cross Sell Lead Status Rejected by SPOC, Disqualified</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Cross_Sell_Lead_Status_Assigned_OR_In_Progress_Working</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_by_SPOC_Disqualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Non_Qualified</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rejected by SPOC, Disqualified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cross Sell Status Vs Status Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cross Sell Lead Status Vs Lead Status Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Lead_Status_Non_Qualified</name>
        <label>Lead Status Non Qualified</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Cross_Sell_Lead_Status_Assigned_OR_In_Progress_Working</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Non Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Status_Revisit</name>
        <label>Lead Status Revisit</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Cross_Sell_Lead_Status_Qualified</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Revisit</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Status_Working</name>
        <label>Lead Status Working</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Cross_Sell_Lead_Status_Cold_Storage_Re_Visit</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cross_Sell_Lead_Status_Rejected_by_SPOC_Disqualified</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross Sell</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cross_Sell_Lead_Created_From__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gati CRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>103</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>104</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cross_Sell_Lead_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
