force-app/main/default/flows/Customer_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Feedback</name>
        <label>Customer Feedback</label>
        <locationX>484</locationX>
        <locationY>433</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CustomerFeedbackEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>get_account_email.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>What do you think about Gati?</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>check_if_primary</name>
        <label>check if primary</label>
        <locationX>509</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_primary_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_account_email</targetReference>
            </connector>
            <label>check if primary exist</label>
        </rules>
        <rules>
            <name>if_no_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>false_condition</targetReference>
            </connector>
            <label>if no primary</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactList</name>
        <collectionReference>Get_Contacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CustomerName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Contact_Email.Name}) , &apos;Customer&apos;,{!Get_Contact_Email.Name})</expression>
    </formulas>
    <formulas>
        <name>emailIds</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact_Email.Email} +&apos;,&apos;+{!get_account_email.Owner.Email}</expression>
    </formulas>
    <interviewLabel>Customer Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_account_email</name>
        <label>get account email</label>
        <locationX>309</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Email</name>
        <label>Get Contact Email</label>
        <locationX>347</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>341</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>162</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Email</targetReference>
        </connector>
        <fields>
            <name>Select_Contact</name>
            <choiceReferences>ContactList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>false_condition</name>
        <label>false condition</label>
        <locationX>707</locationX>
        <locationY>262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_primary</name>
            <fieldText>&lt;p&gt;No  contact found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>696</locationX>
        <locationY>421</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completed</name>
            <fieldText>&lt;p&gt;Email has been sent!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomerFeedbackEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!CustomerName}&lt;/p&gt;&lt;p&gt;As one of our preferred customers, your feedback is very important to us.&lt;/p&gt;&lt;p&gt;We are constantly striving to provide a flawless experience for our customers, and your input helps us do so.&amp;nbsp;&lt;/p&gt;&lt;p&gt;That being said, if you could take a minute to share your feedback, we would really appreciate it.&lt;/p&gt;&lt;p&gt;Feedback Link: &lt;a href=&quot;https://gati--uat.sandbox.my.salesforce-sites.com/CustomerFeedback&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Team- GATI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gatikwepvtltd--uat--c.documentforce.com/servlet/servlet.ImageServer?id=015p0000000fBaW&amp;amp;oid=00Dp0000000Dvv2&amp;amp;lastMod=1632729375000&quot; title=&quot;Click here&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
