force-app/main/default/flows/First_Docket_creation_in_GEMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>KEA_OR_SEM</name>
        <label>KEA OR SEM</label>
        <locationX>559</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Code__r.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Id_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Docket</name>
        <label>Set GEMS Reference for Oppty Closure</label>
        <locationX>983</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>Get_Committed_Opportunity.Gems_reference_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Code__r.Customer_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Committed_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Retail_Account_Id</name>
        <label>Set Retail Account Id</label>
        <locationX>383</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Id_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Id_Blank</name>
        <label>Account Id Blank?</label>
        <locationX>466</locationX>
        <locationY>533</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_ID_in_not_NUll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType</targetReference>
            </connector>
            <label>Account ID in not NUll</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_opportunity_Exist</name>
        <label>IF opportunity Exist?</label>
        <locationX>974</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunit_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Committed_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Docket</targetReference>
            </connector>
            <label>Opportunit Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Retail</name>
        <label>Is Retail</label>
        <locationX>449</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>KEA_OR_SEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Code__r.Customer_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Retail_Account_Id</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_first_Record</name>
        <label>Is the first Record?</label>
        <locationX>447</locationX>
        <locationY>38</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Code__r.Count_360_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Code__r.Docket_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Retail</targetReference>
            </connector>
            <label>Check if 1st</label>
        </rules>
    </decisions>
    <formulas>
        <name>PreviousDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} -1</expression>
    </formulas>
    <interviewLabel>First Docket creation in GEMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>First Docket creation in GEMS - Opty closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Committed_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>740</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_opportunity_Exist</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3 ) OR  (4 AND 5))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType for Retail</label>
        <locationX>740</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Committed_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GATI_Retail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>840</locationX>
        <locationY>540</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Committed_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Committed_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Date__c</field>
            <value>
                <elementReference>PreviousDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity -  CLosure</label>
        <locationX>982</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>Get_Committed_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_the_first_Record</targetReference>
        </connector>
        <object>Customer360__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
