force-app/main/default/flows/Gati_Notify_Customer_MOM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>1201</locationX>
        <locationY>488</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_RT.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SendEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>add_owner_email</name>
        <label>add owner email</label>
        <locationX>181</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>emailids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Getconnectrecord.Customer_Code__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_contact_are_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_the_email_of_contact</name>
        <label>assign the email of contact</label>
        <locationX>585</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>emailids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_the_user</name>
        <label>assign the user</label>
        <locationX>1210</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>emailids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add_attendees.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contact_not_nulll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contact_assign</name>
        <label>contact assign</label>
        <locationX>859</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>emailids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add_attendees.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_attendees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_contact_are_null</name>
        <label>check if contact are null</label>
        <locationX>330</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>assign_the_email_of_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contacts_are_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email</targetReference>
            </connector>
            <label>contacts are null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_user_not_null</name>
        <label>check if user not null</label>
        <locationX>870</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>contact_not_nulll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>add_attendees.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_the_user</targetReference>
            </connector>
            <label>user not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>contact_not_nulll</name>
        <label>contact not nulll</label>
        <locationX>1203</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>add_attendees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>add_attendees.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>add_attendees.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contact_assign</targetReference>
            </connector>
            <label>contact is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_null_check</name>
        <label>decision null check</label>
        <locationX>277</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>add_owner_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>attendeesnot_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_attendees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_attendees</targetReference>
            </connector>
            <label>attendeesnot null</label>
        </rules>
    </decisions>
    <interviewLabel>Gati Notify Customer MOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gati Notify Customer MOM</label>
    <loops>
        <name>add_attendees</name>
        <label>add attendees</label>
        <locationX>562</locationX>
        <locationY>51</locationY>
        <collectionReference>Get_attendees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_user_not_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>add_owner_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_attendees</name>
        <label>Get attendees</label>
        <locationX>227</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Connect__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contacts</name>
        <label>get contacts</label>
        <locationX>125</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_attendees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getconnectrecord.Customer_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getconnectrecord</name>
        <label>Get connect record</label>
        <locationX>128</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Connect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>emailsent</name>
        <label>email sent</label>
        <locationX>949</locationX>
        <locationY>483</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Please press Next to send Email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Email Addresses&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailAddresses</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Email}, {!emailids}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailBodyDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Email Body&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayBody</name>
            <fieldText>&lt;p&gt;{!EmailBody_RT.value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnterEmail</name>
        <label>EnterEmail</label>
        <locationX>748</locationX>
        <locationY>471</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>emailsent</targetReference>
        </connector>
        <fields>
            <name>DisplaytheEmails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!emailids}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Additional Emails</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;Maximum 5 Email Id&apos;s are allowed.&lt;/b&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SendEmailSubject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmailBody_RT</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>emailbody</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Getconnectrecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>send_email</name>
        <label>send email</label>
        <locationX>566</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>EnterEmail</targetReference>
        </connector>
        <flowName>Gati_Notify_Users</flowName>
        <inputAssignments>
            <name>parentId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Table</assignToReference>
            <name>table</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear All,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As per our discussion on {!Getconnectrecord.Visit_Start_Date__c}, below mentioned action items were discussed. Request all the action owners to complete their task before due date.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Table}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards&lt;/p&gt;&lt;p&gt;GATI Sales Team&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gatikwepvtltd--uat--c.documentforce.com/sfc/servlet.shepherd/version/download/068p00000022TVY?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Minutes of Meeting | {!Getconnectrecord.Visit_Start_Date__c} | {!Getconnectrecord.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>showtable</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Table}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
