force-app/main/default/flows/GatiMDMSendCSMapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cs_Request</name>
        <label>Cs Request</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>GatiMDMInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountTeamMember</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>CS-Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authorizationHeader</name>
            <value>
                <elementReference>varAuthToken</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GatiMDMInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GatiMDMCmAuth</name>
        <label>GatiMDMCmAuth</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>GatiMDMCmAuth.GatiMDMCmAuth</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Cs_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varAuthRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GatiMDMCmAuth.GatiMDMCmAuth</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Auth_Req_Assignment</name>
        <label>Auth Req. Assignment</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varAuthRequest.login</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ext_Intg_User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAuthRequest.password</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>welcome123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GatiMDMCmAuth</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>varAuthToken</name>
        <dataType>String</dataType>
        <expression>{!GatiMDMCmAuth.2XX.tokenType} &amp; &quot; &quot; &amp; {!GatiMDMCmAuth.2XX.accessToken}</expression>
    </formulas>
    <interviewLabel>Gati MDM Send CS Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gati MDM Send CS Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>AccountTeamMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Auth_Req_Assignment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAuthRequest</name>
        <apexClass>ExternalService__GatiMDMCmAuth_GatiMDMCmAuth_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
