force-app/main/default/flows/Gati_Cross_Sell_Lead_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Lead_Assigned_OU</name>
        <label>Lead Assigned OU</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Assigned_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OU_Details.Parent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OU_Details.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OU_Details.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OU_Details.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Email_According_to_Zone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SPOC_For_Zone</name>
        <label>Set SPOC For Zone</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SPOC_For_Zone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Owner_for_Cross_Sell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Receiver_Details</name>
        <label>Update Receiver Details</label>
        <locationX>501</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Receiver_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owner_for_Cross_Sell.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Receiver_Email_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owner_for_Cross_Sell.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Receiver_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owner_for_Cross_Sell.Zone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Receiver_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owner_for_Cross_Sell.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Receiver_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Attached_OU__r.OU_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_SPOC</name>
        <label>Check For SPOC</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Get_Owner_for_Cross_Sell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SPOC Not Available</defaultConnectorLabel>
        <rules>
            <name>SPOC_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SPOC_For_Zone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SPOC_For_Zone</targetReference>
            </connector>
            <label>SPOC Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Check_For_Zone_Wise</name>
        <label>Email Check For Zone Wise</label>
        <locationX>336</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Get_Owner_for_Cross_Sell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Email_According_to_Zone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SPOC_For_Zone</targetReference>
            </connector>
            <label>Is Email Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_or_Updated</name>
        <label>Is New or Updated</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Owner_for_Cross_Sell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsUpdated</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_PostalCode</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PostalCode</name>
        <label>Is PostalCode</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_User_Email_According_to_Zone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OU_Details</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_User_Email_According_to_Zone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OU_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Assigned_OU</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varStatus</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.Cross_Sell_Lead_Status__c},&apos;1&apos;),
&apos;2&apos;,
TEXT({!$Record.Cross_Sell_Lead_Status__c})
)</expression>
    </formulas>
    <interviewLabel>Gati Cross Sell Lead Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gati Cross Sell Lead Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>501</locationX>
        <locationY>1931</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Receiver_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StaffCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owner_for_Cross_Sell.Staff_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_for_Cross_Sell</name>
        <label>Get Owner for Cross Sell</label>
        <locationX>501</locationX>
        <locationY>1823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPOC_For_Zone</name>
        <label>Get SPOC For Zone</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_SPOC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Email_According_to_Zone.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Email_According_to_Zone</name>
        <label>Get User Email According to Zone</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Check_For_Zone_Wise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Zone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CrossSellAssignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OU_Details</name>
        <label>OU Details</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pincode_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_lead</name>
        <label>Update the lead</label>
        <locationX>501</locationX>
        <locationY>2147</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_or_Updated</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross Sell</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>102</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>105</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
