force-app/main/default/flows/mapping_pin_code_to_shipper_code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assigning_location</name>
        <label>assigning location</label>
        <locationX>844</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>$Record.PickUp_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_ou.Parent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipper_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_ou.Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_prospect_pickup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Values</name>
        <label>Assigning Values</label>
        <locationX>1183</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>$Record.Receiver_Pincode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery_Pincode_Location__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>316</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pick_Up_Pincode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetching_Shipper_code.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipper_Pincode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_ou</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checking_null</name>
        <label>checking null</label>
        <locationX>549</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checking_ou_is_null_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_ou</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getting_ou.Parent__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getting_ou.Parent__r.Operational_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigning_location</targetReference>
            </connector>
            <label>checking ou is null or not</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_not_null</name>
        <label>if not null</label>
        <locationX>130</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fetching_Shipper_code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_prospect_pickup</name>
        <label>if prospect pickup</label>
        <locationX>1011</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>updating_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>prospect_pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Values</targetReference>
            </connector>
            <label>prospect pickup</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_shipper_pincode_is_not_null</name>
        <label>if shipper pincode is not null</label>
        <locationX>167</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Pickup_pin_code_entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>shipper_pin_code_was_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipper_Pincode__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipper_Pincode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fetching_Shipper_code</targetReference>
            </connector>
            <label>shipper pin code was set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pickup_pin_code_entered</name>
        <label>Pickup pin code entered</label>
        <locationX>350</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pickup_pin_code</name>
            <conditionLogic>(1 AND 4) OR (3 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Pincode__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Pincode__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Pincode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Pincode__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_ou</targetReference>
            </connector>
            <label>pickup pin code</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>mapping shipper code to pin code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>mapping pin code to shipper code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fetching_Shipper_code</name>
        <label>fetching Shipper code</label>
        <locationX>20</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipper_Pincode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pincode_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_ou</name>
        <label>Getting ou</label>
        <locationX>493</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checking_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pick_Up_Pincode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updating_Record</name>
        <label>updating Record</label>
        <locationX>1118</locationX>
        <locationY>553</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>67</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>if_shipper_pincode_is_not_null</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>((1 OR 5) AND 3) AND (2 OR 4 )</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pick Up</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipper_Pincode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pick_Up_Pincode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect Pickup</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
