force-app/main/default/flows/MCA_wallet_share_less_then_threshold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>wallet_share_less_mca</name>
        <label>wallet share less mca</label>
        <locationX>806</locationX>
        <locationY>80</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>MCA Wallet Share is below the threshold value.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>accountowner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>owner</name>
        <label>owner</label>
        <locationX>111</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>accountowner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contract__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_custom_notification_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_wallet_share</name>
        <label>check wallet share</label>
        <locationX>798</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wallet_Share__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>get_custom_meta_data.Threshold_Wallet_Share__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wallet_share_less_mca</targetReference>
            </connector>
            <label>check</label>
        </rules>
    </decisions>
    <interviewLabel>MCA wallet share less then threshold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCA wallet share less then threshold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_custom_meta_data</name>
        <label>get custom meta data</label>
        <locationX>518</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_wallet_share</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Threshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_custom_notification_id</name>
        <label>get custom notification id</label>
        <locationX>305</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_custom_meta_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MCA_Wallet_Share_less</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Wallet_Share__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Market_Competitor_Analysis__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi , your MCA Wallet Share for {!$Record.Contract__r.Name} is below the certain Threshold value.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountowner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
