force-app/main/default/flows/MDM_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Creation_Response</name>
        <label>Convert Creation Response</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <actionName>GatiMDMInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Item_after_Conversion</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Convert-Creation-Response</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>MDMCalloutGati.defaultExc</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GatiMDMInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Gati_MDM_Token_Request</name>
        <label>Gati MDM Token Request</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <actionName>GATIMDMAdditionalApprovalAuth.GatiMDMAdditionalApprovalAuth</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Send_Additional_Approval_Choice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varAuth</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GATIMDMAdditionalApprovalAuth.GatiMDMAdditionalApprovalAuth</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MDMCalloutGati</name>
        <label>MDMCalloutGati</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <actionName>MDMCalloutGati.MDMCalloutGati</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Response_Code_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MDMCalloutGati.MDMCalloutGati</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenURL</name>
        <label>OpenURL</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Finish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>newtab</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>$Label.MDMURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Additional_Approval_Choice</name>
        <label>Send Additional Approval Choice</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <actionName>GatiMDMInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Approvl_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approval-Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approval_additional_approver_requested_by_user</name>
            <value>
                <elementReference>ResultComponent.approvalResult</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approval_existing_cust_id</name>
            <value>
                <elementReference>ResultComponent.selectedContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approval_query_fired</name>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authorizationHeader</name>
            <value>
                <elementReference>varToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>ResultComponent.selectedOpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GatiMDMInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Item_after_Conversion</name>
        <label>Assign Item after Conversion</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varMDMResponseItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Creation_Response.creationResponse.Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Existing_Customer_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MDM_Output_to_Display_List</name>
        <label>Assign MDM Output to Display List</label>
        <locationX>534</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Oppurtunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Existing_Customer_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Existing_Customer_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Existing_Customer_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Existing_Customer_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Customer_Pan_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Customer_Pan_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Customer_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Customer_Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Customer_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Customer_Email_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Customer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Customer_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Customer_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempMDMOutput.Customer_OU_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Existing_Customer_Contract.Customer_OU_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMDMRecordToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempMDMOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Existing_Customer_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Authentication_Params</name>
        <label>Set Authentication Params</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varAuth.login</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ext_Intg_User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAuth.password</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>welcome123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gati_MDM_Token_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request_Body</name>
        <label>Set Request Body</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>requestBody.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Registrationx5fstatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRegistrationStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.address1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAddress1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.address2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAddress2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.assignedseemail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignedSEEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.bdStaffCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBDStaffCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.billingOu</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingOU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.commitedGatiPotentail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCommitedPotential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.companyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGATICompanyCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.contactx5fpersonx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactPersonName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.contractSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractSubType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.contractType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.controllingOu</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varControllingOU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.custIndustry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIndustry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.customerCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.customerGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerGroupID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.customerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.customerType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.customerbusinespotential</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBussinessPotential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.custx5ftypex5fkyc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerTypeKYC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.emailid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.gstin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGSTIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.lineDtls</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Opportunity_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.loContractStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.marketCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMarketCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.marketType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMarketType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.marketname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMarketName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.mobileno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.naturex5fofx5fbusiness</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNatureofBusiness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.opprortunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.oux5fcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOUCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.panNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPANNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.phoneno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.pincode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPinCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.rfq</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRFQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.rfqlaunchdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRFQDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.riskCoverdBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRiskCoveredBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.shorttermcreditamt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreditAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.shorttermcreditdays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreditDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.custIndustryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIndustryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MDMCalloutGati</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ConformationNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConformationYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approvl_Check</name>
        <label>Approvl Check</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Auto_Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResultComponent.approvalResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenURL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Market_Code_For_Retail</name>
        <label>Is Market Code For Retail</label>
        <locationX>413</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Market_Code_Not_Available_For_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Data.Customer_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Data.Market_Type__r.Market_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Market_Code_Error</targetReference>
            </connector>
            <label>Market Code Not Available For Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Code_Check</name>
        <label>Response Code Check</label>
        <locationX>776</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ServerDownScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contarct_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MDMCalloutGati.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Creation_Response</targetReference>
            </connector>
            <label>Contarct Exist</label>
        </rules>
        <rules>
            <name>Contarct_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MDMCalloutGati.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>OpenURL</targetReference>
            </connector>
            <label>Contarct Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varAddress1</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Account_Data.Billing_Street_1__c}),&quot;null&quot;,{!Get_Account_Data.Billing_Street_1__c})</expression>
    </formulas>
    <formulas>
        <name>varAddress2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Account_Data.Billing_Street_2__c}),&quot;null&quot;,{!Get_Account_Data.Billing_Street_2__c})</expression>
    </formulas>
    <formulas>
        <name>varAssignedSEEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Assigned_SE_Email__c}),&quot;null&quot;,{!recordId.Account.Assigned_SE_Email__c})</expression>
    </formulas>
    <formulas>
        <name>varBDStaffCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Owner.Staff_Code__c}),&quot;null&quot;,{!recordId.Account.Owner.Staff_Code__c})</expression>
    </formulas>
    <formulas>
        <name>varBillingOU</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Billing_OU__r.Name}),&quot;null&quot;,{!recordId.Account.Billing_OU__r.Name})</expression>
    </formulas>
    <formulas>
        <name>varBussinessPotential</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!recordId.Amount_Business_potentital__c}),0,{!recordId.Amount_Business_potentital__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCity</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Billing_OU__r.OU_CITY__c}),&quot;null&quot;,{!recordId.Account.Billing_OU__r.OU_CITY__c})</expression>
    </formulas>
    <formulas>
        <name>varCommitedPotential</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!recordId.Commited_Gati_Potentail__c}),0,{!recordId.Commited_Gati_Potentail__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varContactPersonName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Contact_Person__c}),&quot;null&quot;,{!recordId.Account.Contact_Person__c})</expression>
    </formulas>
    <formulas>
        <name>varContractStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Account_Data.Contract_Status__c})), &quot;null&quot;, TEXT({!Get_Account_Data.Contract_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>varContractSubType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Contract_subtype__c})),&quot;null&quot;,TEXT({!recordId.Account.Contract_subtype__c}))</expression>
    </formulas>
    <formulas>
        <name>varContractType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Contract_type__c})),&quot;null&quot;,TEXT({!recordId.Account.Contract_type__c}))</expression>
    </formulas>
    <formulas>
        <name>varControllingOU</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Controlling_OU__r.Name}),&quot;null&quot;,{!recordId.Account.Controlling_OU__r.Name})</expression>
    </formulas>
    <formulas>
        <name>varCreditAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!Get_Account_Data.Credit_Amount__c}),0,{!Get_Account_Data.Credit_Amount__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCreditDays</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Account_Data.Credit_Days__c}),0,{!Get_Account_Data.Credit_Days__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCustomerCategory</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Customer_Category__c})),&quot;null&quot;,TEXT({!recordId.Account.Customer_Category__c}))</expression>
    </formulas>
    <formulas>
        <name>varCustomerGroupID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Customer_Group_ID__c}),&quot;null&quot;,{!recordId.Account.Customer_Group_ID__c})</expression>
    </formulas>
    <formulas>
        <name>varCustomerType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Customer_Category__c})),&quot;null&quot;,TEXT({!recordId.Account.Customer_Category__c}))</expression>
    </formulas>
    <formulas>
        <name>varCustomerTypeKYC</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Customer_Type_KYC__c})),&quot;null&quot;,TEXT({!recordId.Account.Customer_Type_KYC__c}))</expression>
    </formulas>
    <formulas>
        <name>varEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Email__c}),&quot;null&quot;,{!recordId.Account.Email__c})</expression>
    </formulas>
    <formulas>
        <name>varGATICompanyCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.GATI_Company_Code__c})),&quot;null&quot;,TEXT({!recordId.Account.GATI_Company_Code__c}))</expression>
    </formulas>
    <formulas>
        <name>varGSTIN</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.GSTNumber__c}),&quot;null&quot;,{!recordId.Account.GSTNumber__c})</expression>
    </formulas>
    <formulas>
        <name>varIndustry</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Industry})),&quot;null&quot;,TEXT({!recordId.Account.Industry}))</expression>
    </formulas>
    <formulas>
        <name>varIndustryCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Industry_Mapping.Name}),&quot;null&quot;,{!Get_Industry_Mapping.Name})</expression>
    </formulas>
    <formulas>
        <name>varMarketCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Market_Type__r.Market_Code__c}),&quot;null&quot;,{!recordId.Account.Market_Type__r.Market_Code__c})</expression>
    </formulas>
    <formulas>
        <name>varMarketName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Market_Type__r.Name}),&quot;null&quot;,{!recordId.Account.Market_Type__r.Name})</expression>
    </formulas>
    <formulas>
        <name>varMarketType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Market_Type__r.Market_Type__c})),&quot;null&quot;,TEXT({!recordId.Account.Market_Type__r.Market_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>varMobile</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Mobile__c}),&quot;null&quot;,{!recordId.Account.Mobile__c})</expression>
    </formulas>
    <formulas>
        <name>varNatureofBusiness</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Nature_of_business__c})),&quot;null&quot;,TEXT({!recordId.Account.Nature_of_business__c}))</expression>
    </formulas>
    <formulas>
        <name>varOUCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Associated_OU__r.Name}),&quot;null&quot;,{!recordId.Account.Associated_OU__r.Name})</expression>
    </formulas>
    <formulas>
        <name>varPANNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.PANNumber__c}),&quot;null&quot;,{!recordId.Account.PANNumber__c})</expression>
    </formulas>
    <formulas>
        <name>varPhone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Phone}),&quot;null&quot;,{!recordId.Account.Phone})</expression>
    </formulas>
    <formulas>
        <name>varPinCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.Associated_OU__r.Pincode__c}),&quot;null&quot;,{!recordId.Account.Associated_OU__r.Pincode__c})</expression>
    </formulas>
    <formulas>
        <name>varRegistrationStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Registration_Status__c})),&quot;null&quot;,TEXT({!recordId.Account.Registration_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>varRFQ</name>
        <dataType>String</dataType>
        <expression>IF({!recordId.Account.RFQCustomer__c},&quot;Y&quot;,&quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>varRFQDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!recordId.Account.RFQ_Date__c}),DATE(1900,01,01),{!recordId.Account.RFQ_Date__c})</expression>
    </formulas>
    <formulas>
        <name>varRiskCoveredBy</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recordId.Account.Risk_Covered_By__c})),&quot;null&quot;,TEXT({!recordId.Account.Risk_Covered_By__c}))</expression>
    </formulas>
    <formulas>
        <name>varState</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account.State__c}),&quot;null&quot;,{!recordId.Account.State__c})</expression>
    </formulas>
    <formulas>
        <name>varToken</name>
        <dataType>String</dataType>
        <expression>{!Gati_MDM_Token_Request.2XX.tokenType} &amp; &quot; &quot; &amp; {!Gati_MDM_Token_Request.2XX.accessToken}</expression>
    </formulas>
    <interviewLabel>MDM Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MDM Callout</label>
    <loops>
        <name>Loop_through_Existing_Customer_Contract</name>
        <label>Loop through Existing_Customer_Contract</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <collectionReference>varMDMResponseItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_MDM_Output_to_Display_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>413</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Market_Code_For_Retail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Industry_Mapping</name>
        <label>Get Industry Mapping</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndustryDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Industry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndustryCodeMapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Industry_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Auto_Finish</name>
        <label>Auto-Finish</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish</name>
            <extensionName>c:AutoFinish</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Authentication_Params</targetReference>
        </connector>
        <fields>
            <name>HeaderCustom</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(234, 18, 18); background-color: rgb(255, 255, 255);&quot;&gt;The customer profile is already exists&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResultComponent</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MDMOutput__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:gatiMdmAdditionalApproval</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contractData</name>
                <value>
                    <elementReference>varMDMRecordToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Retail_Market_Code_Error</name>
        <label>Retail Market Code Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MarketCodeRetailError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 31, 7); font-size: 20px;&quot;&gt;Please fill market code first.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ServerDownScreen</name>
        <label>Server Down Screen</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ServerDownMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 8, 8); font-size: 24px;&quot;&gt;We&apos;re sorry, but something went wrong on our end (error code: {!MDMCalloutGati.responseCode}). We&apos;re working to fix the issue and appreciate your patience.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <transforms>
        <name>Transform_Opportunity_Product</name>
        <label>Transform Opportunity Product</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <apexClass>ExternalService__MDMCalloutGati_MDMCalloutGati_IN_body_lineDtls</apexClass>
        <connector>
            <targetReference>Set_Request_Body</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>frmLane</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity_Line_Items[$EachItem].frmLane__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>laneMaxBusiness</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity_Line_Items[$EachItem].UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>locType</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity_Line_Items[$EachItem].locType__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>productGroup</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity_Line_Items[$EachItem].productGroup__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>toLane</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity_Line_Items[$EachItem].toLane__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__MDMCalloutGati_MDMCalloutGati_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestBodyMDM</name>
        <apexClass>ExternalService__GatiMDMCallout_GatiMDMCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddtionalApprovalRequest</name>
        <apexClass>ExternalService__GatiMDMAdditionalApprovalRequest_GatiMDMAdditionalApprovalRequest_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAuth</name>
        <apexClass>ExternalService__GATIMDMAdditionalApprovalAuth_GatiMDMAdditionalApprovalAuth_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMDMRecordToDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MDMOutput__c</objectType>
    </variables>
    <variables>
        <name>varMDMResponseItems</name>
        <apexClass>GatiMDMCreationResponseItemWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseFormMDM</name>
        <apexClass>MDMContractCreationResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTempMDMOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MDMOutput__c</objectType>
    </variables>
</Flow>
