force-app/main/default/flows/NDR_Instructions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Return_Re_Attempt_Reshedule</name>
        <label>Return/Re-Attempt/Reshedule</label>
        <locationX>163</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Re_attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Attempt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_Extension_on_Re_attempt</targetReference>
            </connector>
            <label>Re-attempt</label>
        </rules>
        <rules>
            <name>Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_Extension_for_Reschedule</targetReference>
            </connector>
            <label>Reschedule</label>
        </rules>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reboocking</targetReference>
            </connector>
            <label>Return</label>
        </rules>
    </decisions>
    <formulas>
        <name>addnewdate</name>
        <dataType>Date</dataType>
        <expression>today() + 1</expression>
    </formulas>
    <interviewLabel>NDR Instructions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NDR Instructions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ADD_Extension_for_Reschedule</name>
        <label>ADD Extension for Reschedule</label>
        <locationX>929</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ADD__c</field>
            <value>
                <elementReference>addnewdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_OU__c</field>
            <value>
                <elementReference>$Record.Booking_OU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_of__c</field>
            <value>
                <elementReference>$Record.Company_of__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>$Record.Customer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_OU__c</field>
            <value>
                <elementReference>$Record.Delivery_OU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_Number__c</field>
            <value>
                <elementReference>$Record.Docket_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>ADD Extension</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ADD_Extension_on_Re_attempt</name>
        <label>ADD Extension on Re-attempt</label>
        <locationX>925</locationX>
        <locationY>219</locationY>
        <inputAssignments>
            <field>ADD__c</field>
            <value>
                <elementReference>$Record.Rescheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_OU__c</field>
            <value>
                <elementReference>$Record.Booking_OU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_of__c</field>
            <value>
                <elementReference>$Record.Company_of__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>$Record.Customer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_OU__c</field>
            <value>
                <elementReference>$Record.Delivery_OU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_Number__c</field>
            <value>
                <elementReference>$Record.Docket_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>ADD Extension</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Reboocking</name>
        <label>Reboocking</label>
        <locationX>929</locationX>
        <locationY>573</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_OU__c</field>
            <value>
                <elementReference>$Record.Booking_OU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_of__c</field>
            <value>
                <elementReference>$Record.Company_of__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>$Record.Customer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_OU__c</field>
            <value>
                <elementReference>$Record.Delivery_OU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_Number__c</field>
            <value>
                <elementReference>$Record.Docket_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_Type__c</field>
            <value>
                <stringValue>Return to Origin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Return_Re_Attempt_Reshedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Delivery Reason (NDR)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructions__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Non_Pick_Up_Delivery_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Voice_Blast_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NDR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ADD Extension</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
