force-app/main/default/flows/Opportunity_account_type_updating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Account_type_to_strategic</name>
        <label>Account type to strategic</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Strategic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_type_changing_to_strategic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_type_update_in_account</name>
        <label>Account type update in account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSME</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_type_changing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Type_to_MSME</name>
        <label>Type to MSME</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSME</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_type_update_in_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Type_to_STRATEGIC</name>
        <label>Type to STRATEGIC</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Strategic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_type_to_strategic</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>msme_and_strategic_bifurcation</name>
        <label>msme and strategic bifurcation</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commited_Gati_Potentail__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_to_MSME</targetReference>
            </connector>
            <label>MSME</label>
        </rules>
        <rules>
            <name>Strategic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commited_Gati_Potentail__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_to_STRATEGIC</targetReference>
            </connector>
            <label>Strategic</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity account type updating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity account type updating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Opportunity_type_changing</name>
        <label>Opportunity type changing</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>update_account_type_to_MSME</targetReference>
        </connector>
        <inputAssignments>
            <field>Monthly_Spend_on_Logistic__c</field>
            <value>
                <stringValue>Less Than and Equal To 1 Lakh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>MSME</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_type_changing_to_strategic</name>
        <label>Opportunity type changing to strategic</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Account_Type_to_Strategic</targetReference>
        </connector>
        <inputAssignments>
            <field>Monthly_Spend_on_Logistic__c</field>
            <value>
                <stringValue>Above 1 Lakh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_account_type_to_MSME</name>
        <label>update account type to MSME</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Customer_Category__c</field>
            <value>
                <stringValue>MSME</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Type_to_Strategic</name>
        <label>Update Account Type to Strategic</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Customer_Category__c</field>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>msme_and_strategic_bifurcation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commited_Gati_Potentail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
