force-app/main/default/flows/Populate_ZHead_and_vertical_head_based_on_Owners_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_ZHead</name>
        <label>Assign ZHead</label>
        <locationX>851</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zonal_HEAD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Zonal_Vertical_Head__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Zonal_Vertical_Head__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Role_Exists</name>
        <label>If_Role_Exists</label>
        <locationX>530</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Role_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>If Role exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Role_is_Null</name>
        <label>If Role is Null</label>
        <locationX>356</locationX>
        <locationY>107</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Role_isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role_Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRole</targetReference>
            </connector>
            <label>If Role is Null</label>
        </rules>
        <rules>
            <name>if_type_KEA_or_SME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GATI_KEA_and_SME_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <label>if type KEA or SME</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Exists</name>
        <label>If User Exists</label>
        <locationX>729</locationX>
        <locationY>97</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ZHead</targetReference>
            </connector>
            <label>If User Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>KEANationalRole</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Owner.UserRoleId}),&quot;&quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;BLR&quot;,&quot;NATIONAL KEA HEAD &quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;BOM&quot;,&quot;NATIONAL KEA HEAD&quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;CCU&quot;,&quot;NATIONAL KEA HEAD&quot;,&quot;NATIONAL KEA HEAD&quot;))))</expression>
    </formulas>
    <formulas>
        <name>Role_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Owner.UserRoleId}),&quot;&quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;BLR&quot;,&quot;BLR ZONAL HEAD&quot; ,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;BOM&quot;,&quot;BOM Zonal Head&quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;CCU&quot;,      &quot;CCU ZONAL HEAD&quot;,&quot;DEL ZONAL HEAD&quot;))))</expression>
    </formulas>
    <interviewLabel>Populate ZKEA Head based on Owners Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate ZHead based on Owners Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRole</name>
        <label>GetRole</label>
        <locationX>446</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Role_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Formula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>642</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>17</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>If_Role_is_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
