force-app/main/default/flows/Populate_ZKEA_Head_based_on_Owners_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_ZKEA</name>
        <label>Assign ZKEA</label>
        <locationX>851</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>$Record.ZKEA_Org_Head__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Role_Exists</name>
        <label>If_Role_Exists</label>
        <locationX>530</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Role_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>If Role exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Role_is_Null</name>
        <label>If Role is Null</label>
        <locationX>356</locationX>
        <locationY>107</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Role_isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role_Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRole</targetReference>
            </connector>
            <label>If Role is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Exists</name>
        <label>If User Exists</label>
        <locationX>729</locationX>
        <locationY>97</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ZKEA</targetReference>
            </connector>
            <label>If User Exist</label>
        </rules>
    </decisions>
    <description>This populates ZKEA Head based on Owners Role</description>
    <formulas>
        <name>Role_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Owner.UserRoleId}),&quot;&quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;BLR&quot;,&quot;BLR ZONAL KEA ORG&quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;BOM&quot;,&quot;BOM ZONAL KEA ORG&quot;,IF(LEFT({!$Record.Owner.UserRole.Name},3)==&quot;CCU&quot;,&quot;CCU ZONAL KEA ORG&quot;,&quot;DEL ZONAL KEA ORG&quot;))))</expression>
    </formulas>
    <interviewLabel>Populate ZKEA Head based on Owners Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate ZKEA Head based on Owners Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRole</name>
        <label>GetRole</label>
        <locationX>446</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Role_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Formula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>641</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>17</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>If_Role_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZKEA_Org_Head__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
