force-app/main/default/flows/PopulateProductinLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Ifproductexists</name>
        <label>Ifproductexists</label>
        <locationX>203</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ifproduct101exists</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_101_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_101_Products__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GATI_Company_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>101</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updateproduct101</targetReference>
            </connector>
            <label>Ifproduct101exists</label>
        </rules>
        <rules>
            <name>Ifproduct102exists</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_102_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_102_Products__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GATI_Company_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProduct102</targetReference>
            </connector>
            <label>Ifproduct102exists</label>
        </rules>
        <rules>
            <name>Ifproduct105</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_101_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cross_Sell_101_Products__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GATI_Company_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>105</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_UCL_Product</targetReference>
            </connector>
            <label>Ifproduct105</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PopulateProductinLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PopulateProductinLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_UCL_Product</name>
        <label>update UCL Product</label>
        <locationX>345</locationX>
        <locationY>483</locationY>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Cross_Sell_101_Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updateproduct101</name>
        <label>Updateproduct101</label>
        <locationX>222</locationX>
        <locationY>472</locationY>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Cross_Sell_101_Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProduct102</name>
        <label>UpdateProduct102</label>
        <locationX>390</locationX>
        <locationY>353</locationY>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Cross_Sell_102_Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>89</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Ifproductexists</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Cross_Sell_101_Products__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cross_Sell_102_Products__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
