force-app/main/default/flows/Quote_Set_Contract_No_in_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_if_Contract</name>
        <label>Check if Contract</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UPdate_Retail_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retail</defaultConnectorLabel>
        <rules>
            <name>Not_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Account.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Number</targetReference>
            </connector>
            <label>Not Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Amend_or_Renewal</name>
        <label>Is Amend or Renewal?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Amend_or_renwal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Opportunity_Type_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Amendment - Product addition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Opportunity_Type_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Amendment - Lane addition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Opportunity_Type_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Contract - New customer code</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Opportunity_Type_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opty_to_Sold</targetReference>
            </connector>
            <label>is Amend or renwal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContractNo_GATICompanyCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Test_LOF_number__c}, IF(FIND(&apos;.&apos;, {!$Record.Test_LOF_number__c})&gt;0, FIND(&apos;.&apos;, {!$Record.Test_LOF_number__c})-1, LEN({!$Record.Test_LOF_number__c})))</expression>
    </formulas>
    <formulas>
        <name>RetailCode</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!$Record.Test_LOF_number__c},12))</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>RetailCustomerCode</name>
        <dataType>String</dataType>
        <expression>LEFT(RIGHT({!$Record.Test_LOF_number__c},12), IF(FIND(&apos;.&apos;, RIGHT({!$Record.Test_LOF_number__c},12))&gt;0, FIND(&apos;.&apos;, RIGHT({!$Record.Test_LOF_number__c},12))-1, LEN(RIGHT({!$Record.Test_LOF_number__c},12))))</expression>
    </formulas>
    <interviewLabel>Quote Set Contract No in Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Set Contract No in Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Opty_to_Sold</name>
        <label>Set Opty to Sold</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Number</name>
        <label>Update Contract Number</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Amend_or_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GATI_Contract_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Number__c</field>
            <value>
                <elementReference>$Record.Test_LOF_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GATI_Contract_Number__c</field>
            <value>
                <elementReference>ContractNo_GATICompanyCode</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPdate_Retail_Record</name>
        <label>UPdate Retail Record</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Number__c</field>
            <value>
                <elementReference>$Record.Test_LOF_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Code__c</field>
            <value>
                <elementReference>RetailCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status__c</field>
            <value>
                <stringValue>active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GATI_Contract_Number__c</field>
            <value>
                <elementReference>ContractNo_GATICompanyCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GATI_Customer_Code__c</field>
            <value>
                <elementReference>RetailCustomerCode</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
