force-app/main/default/flows/Sender_Detail_Assignment_From_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Sender_Detail_Assignment</name>
        <label>Sender Detail Assignment</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Sender_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_OU_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Zone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Staff_master_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_Staff_master_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cross_Sell_OU_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_For_Location.Attached_OU__r.OU_Location__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>varName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName}&amp;&apos; - &apos;&amp;{!$Record.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Sender Detail Assignment From Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sender Detail for Cross Sell Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_For_Location</name>
        <label>Get Contact For Location</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sender_Detail_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StaffCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Staff_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_For_Location</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross Sell</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>103</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>104</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
