force-app/main/default/flows/Send_email_on_ccec_remark_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>997</locationX>
        <locationY>165</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CCEC__r.Case__r.Customer_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailsubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_to_customer_from_owner</name>
        <label>send email to customer from owner</label>
        <locationX>806</locationX>
        <locationY>227</locationY>
        <actionName>Case.send_email_to_customer_when_the_remark_record_is_created_along_with_open_remarks</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.CCEC__r.Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.send_email_to_customer_when_the_remark_record_is_created_along_with_open_remarks</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>check_for_serial_number</name>
        <label>check for serial number</label>
        <locationX>582</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_remark_No_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_to_customer_from_owner</targetReference>
            </connector>
            <label>If remark No exists</label>
        </rules>
    </decisions>
    <interviewLabel>Send email on ccec remark creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send email on ccec remark creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_metadata</name>
        <label>get metadata</label>
        <locationX>424</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_serial_number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SL_NO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CCEC_Instruction__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>14</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>get_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CCEC_Remark__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.CCEC__r.Case__r.Customer_Name__c},&lt;/p&gt;&lt;p&gt;This is regarding your case #{!$Record.CCEC__r.Case__r.CaseNumber}. Below is the action required from your end so that our service agent can proceed on your case:&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!$Record.Open_Remarks__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;Regards,&lt;/p&gt;&lt;p&gt;Gati Service Team&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Action Required for Case : #{!$Record.CCEC__r.Case__r.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>RemarkNumberList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
