force-app/main/default/flows/Send_LOF_And_CON_To_MDM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Gati_MDM_Token_Request</name>
        <label>Gati MDM Token Request</label>
        <locationX>446</locationX>
        <locationY>816</locationY>
        <actionName>GATIMDMAdditionalApprovalAuth.GatiMDMAdditionalApprovalAuth</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_For_Contract</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GATIMDMAdditionalApprovalAuth.GatiMDMAdditionalApprovalAuth</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_CON</name>
        <label>Send CON</label>
        <locationX>182</locationX>
        <locationY>1032</locationY>
        <actionName>GatiMDMInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isContract_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>Get_Account_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Update-CON-Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authorizationHeader</name>
            <value>
                <elementReference>varToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteData</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GatiMDMInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_LOF</name>
        <label>Send LOF</label>
        <locationX>710</locationX>
        <locationY>1032</locationY>
        <actionName>GatiMDMInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isLOF_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>Get_Account_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Create-LOF-Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authorizationHeader</name>
            <value>
                <elementReference>varToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteData</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GatiMDMInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Authorization_Params</name>
        <label>Set Authorization Params</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varParams.login</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ext_Intg_User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParams.password</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>welcome123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gati_MDM_Token_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Error_Message</name>
        <label>Set Contract Error Message</label>
        <locationX>314</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_CON.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Integration_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Success_Message</name>
        <label>Set Contract Success Message</label>
        <locationX>50</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Send Successfully.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Integration_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LOF_Error_Message</name>
        <label>Set LOF Error Message</label>
        <locationX>842</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_LOF.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Integration_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LOF_Success_Message</name>
        <label>Set LOF Success Message</label>
        <locationX>578</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOF Send Successfully.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Integration_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Contract</name>
        <label>Check For Contract</label>
        <locationX>446</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Send_LOF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LOF</defaultConnectorLabel>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Test_LOF_number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_CON</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account</name>
        <label>Is Account</label>
        <locationX>776</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Account_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Authorization_Params</targetReference>
            </connector>
            <label>Account Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity</name>
        <label>Is Opportunity?</label>
        <locationX>1073</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Opportunity Not Found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Opportunity Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>isContract_Sent</name>
        <label>isContract Sent</label>
        <locationX>182</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Set_Contract_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_CON.subCodeCreationStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>204.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Success_Message</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>isLOF_Sent</name>
        <label>isLOF Sent</label>
        <locationX>710</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Set_LOF_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>SuccessLOF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_LOF.subCodeCreationStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LOF_Success_Message</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varToken</name>
        <dataType>String</dataType>
        <expression>{!Gati_MDM_Token_Request.2XX.tokenType} &amp; &quot; &quot; &amp; {!Gati_MDM_Token_Request.2XX.accessToken}</expression>
    </formulas>
    <interviewLabel>Send LOF And CON To MDM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send LOF And CON To MDM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>776</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1073</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Integration_Message</name>
        <label>Update Integration Message</label>
        <locationX>446</locationX>
        <locationY>1524</locationY>
        <inputAssignments>
            <field>IntegrationMessage__c</field>
            <value>
                <elementReference>varMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>303</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_LOF_number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParams</name>
        <apexClass>ExternalService__GATIMDMAdditionalApprovalAuth_GatiMDMAdditionalApprovalAuth_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
