force-app/main/default/flows/Send_feedback_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FrontlineChatEmailTemplate</name>
        <label>FrontlineChatEmailTemplate</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>Contact.FrontlineChatEmailTemplate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.FrontlineChatEmailTemplate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FrontlineEmailTemplate</name>
        <label>FrontlineEmailTemplate</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Contact.FrontlineEmailTemplate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.FrontlineEmailTemplate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>varChat</name>
        <choiceText>Chat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>varVoice</name>
        <choiceText>Voice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voice</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Voice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feedback_For</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varVoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FrontlineEmailTemplate</targetReference>
            </connector>
            <label>Voice</label>
        </rules>
        <rules>
            <name>Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feedback_For</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varChat</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FrontlineChatEmailTemplate</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
    </decisions>
    <interviewLabel>Send feed back email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send feedback email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>EmailSent</name>
        <label>EmailSent</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(13, 144, 21);&quot;&gt;Email sent successfully! &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <fields>
            <name>Feedback_For</name>
            <choiceReferences>varVoice</choiceReferences>
            <choiceReferences>varChat</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Feedback For</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
