force-app/main/default/flows/Send_Cross_Sell_Lead_To_ATL_Created_By_Gati.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostLead</name>
        <label>PostLead</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>PostLead.PostLead</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Callout_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PostLead.PostLead</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Parameters</name>
        <label>Set Parameters</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>requestBody.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Companyx5fProductx5fCodex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.GATI_Company_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fLeadx5fCreatedx5fFromx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Lead_Created_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fLeadx5fStatusx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Lead_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fTopicx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Topic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fVisitx5fRemarksx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Visit_Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fZonex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Zone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Descriptionx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Expectedx5fBusinessx5fPerx5fMonthx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Expected_Business_Per_Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.ExternalIDx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Leadx5fDatax5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Lead_Data__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Leadx5fRejectionx5fReasonx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Lost_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Monthlyx5fSpentx5fonx5fexpressx5fLogisticx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Monthly_Spent_on_express_Logistic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.OUx5fZonex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_OU_Zone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Otherx5fLeadx5fRejectionx5fReasonx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Other_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Paymentx5fmodex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Payment_mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Productx5fListx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Reasonx5fforx5fRevisitx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Reason_for_Revisit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Revisitx5fDatex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Revisit_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fEmailx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Staff_master_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fLocationx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_OU_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fMobilex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Staff_master_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fNamex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_Sender_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Turnoverx5fofx5fthex5fCompanyx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Turnover_of_the_Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Workingx5fonx5fLocationx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Cross_Sell_CFS_Locations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Designation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Rating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Existingx5fServicex5fProviderx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Existing_Service_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PostLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_Status</name>
        <label>Callout Status</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Lead_Creation_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PostLead.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_External_ID</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Cross Sell Lead To ATL Created By Gati {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Cross Sell Lead To ATL Created By Gati</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead_Log_For_Error</name>
        <label>Create Lead Log For Error</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Error__c</field>
            <value>
                <elementReference>PostLead.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseCode__c</field>
            <value>
                <elementReference>PostLead.responseCode</elementReference>
            </value>
        </inputAssignments>
        <object>LeadLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Log_For_Success</name>
        <label>Create Lead Log For Success</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseCode__c</field>
            <value>
                <elementReference>PostLead.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LeadLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Lead_Creation_Error_Message</name>
        <label>Lead Creation Error Message</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Lead_Log_For_Error</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Creation_Error_Message__c</field>
            <value>
                <elementReference>PostLead.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_External_ID</name>
        <label>Update External ID</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Lead_Log_For_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExternalID__c</field>
            <value>
                <elementReference>PostLead.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Review error&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!PostLead.defaultExc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_lead</name>
        <label>Send lead</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Parameters</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Are you sure?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Lead sent successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__PostLead_PostLead_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
