force-app/main/default/flows/Shipper_Pin_Code_change_Then_Pickup_OU_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IF_IS_FOUND</name>
        <label>IF IS FOUND</label>
        <locationX>499</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FOUND_OU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pickup_OU</targetReference>
            </connector>
            <label>FOUND OU</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipper Pin Code change Then Pickup OU Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipper Pin Code change Then Pickup OU Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OU</name>
        <label>Get OU</label>
        <locationX>723</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_IS_FOUND</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000000EkgYAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pincode_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pincode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pick_Up_Pincode__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pickup_OU</name>
        <label>Update Pickup OU</label>
        <locationX>367</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>PickUp_OU__c</field>
            <value>
                <elementReference>Get_OU.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pickup_Ou1</name>
        <label>Update Pickup Ou</label>
        <locationX>493</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>PickUp_OU__c</field>
            <value>
                <elementReference>$Record.Pick_Up_Pincode__r.Parent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Pickup_Ou1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pick_Up_Pincode__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
