force-app/main/default/flows/Sub_Code_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_URL</name>
        <label>Open URL</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>newtab</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>$Label.MDMURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_URL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>{!Get_Account.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Fields_Mapping</name>
        <label>Fields Mapping</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.GATI_Customer_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012p0000000SVfSAAW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.Contract_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.Customer_Code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.Customer_Code_Req_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Sub Code Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Code Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>varAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fields_Mapping</targetReference>
        </connector>
        <fields>
            <name>Messaage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Are you sure, you want to proceed with creating a subcode?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
