force-app/main/default/flows/syncPendingCCEC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sync_pending_ccec</name>
        <label>sync pending ccec</label>
        <locationX>752</locationX>
        <locationY>359</locationY>
        <actionName>ManualCCECOutboundAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccecid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManualCCECOutboundAPI</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>check</name>
        <label>check</label>
        <locationX>513</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_no_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Integration_logs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sync_pending_ccec</targetReference>
            </connector>
            <label>if no record</label>
        </rules>
    </decisions>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>todaysDate</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>syncPendingCCEC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>syncPendingCCEC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Integration_logs</name>
        <label>Integration logs</label>
        <locationX>322</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Component_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCEC Record</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccecNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>22</locationX>
        <locationY>38</locationY>
        <object>CCEC__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X15_minutes_after</name>
            <connector>
                <targetReference>Integration_logs</targetReference>
            </connector>
            <label>30 minutes after</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ccecToSync</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
