force-app/main/default/flows/Update_Opportunity_Vertical_and_Zonal_Head.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>BlrRoleNotNull</name>
        <label>BlrRoleNotNull</label>
        <locationX>542</locationX>
        <locationY>873</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLRroenotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BlrVerticalHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BlrPLHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BlrVerticalHeadUser</targetReference>
            </connector>
            <label>BLRroenotnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Zone</label>
        <locationX>663</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_DELZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Zone_Name_Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVerticalHeadByTypeDELZ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DLEVerticalHeadRole</targetReference>
            </connector>
            <label>For DELZ</label>
        </rules>
        <rules>
            <name>For_BLRZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Zone_Name_Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLRZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVerticalHeadByTypeBLRZ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BlrVerticalHeadRole</targetReference>
            </connector>
            <label>For BLRZ</label>
        </rules>
        <rules>
            <name>For_BOMZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Zone_Name_Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOMZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVerticalHeadByTypeBOMZ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BomVerticalHeadRole</targetReference>
            </connector>
            <label>For BOMZ</label>
        </rules>
        <rules>
            <name>For_CCUZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Zone_Name_Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCUZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVertcalHeadByTypeCCUZ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CcuVerticalHeadRole</targetReference>
            </connector>
            <label>For CCUZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Delz_Role_Not_Null</name>
        <label>Check Delz Role Not Null</label>
        <locationX>293</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DELZRoleNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DELPLHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DLEVerticalHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELPLHeadUser</targetReference>
            </connector>
            <label>DELZRoleNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Not_Null</name>
        <label>Check User Not Null</label>
        <locationX>291</locationX>
        <locationY>1122</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Users_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DELVerticalHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DELPLHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Users_in_opp</targetReference>
            </connector>
            <label>Users Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBomRoleNotNull</name>
        <label>CheckBomRoleNotNull</label>
        <locationX>780</locationX>
        <locationY>867</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BomRoleNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BomPLHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BomVerticalHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BomVerticalHeadUser</targetReference>
            </connector>
            <label>BomRoleNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBomUserNotNull</name>
        <label>CheckBomUserNotNull</label>
        <locationX>782</locationX>
        <locationY>1261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BomUserNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BomPLHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BomVerticalHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BomUserUpdate</targetReference>
            </connector>
            <label>BomUserNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCcuRoleNotNull</name>
        <label>CheckCcuRoleNotNull</label>
        <locationX>985</locationX>
        <locationY>729</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CcuRoleNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CcuVerticalHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CcuPLHeadRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CcuPLHeadUser</targetReference>
            </connector>
            <label>CcuRoleNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCcuUserNotNull</name>
        <label>CheckCcuUserNotNull</label>
        <locationX>989</locationX>
        <locationY>1141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CcuUserNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CcuPLHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CcuVerticalHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatCcuUsers</targetReference>
            </connector>
            <label>CcuUserNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserNotNull</name>
        <label>CheckUserNotNull</label>
        <locationX>545</locationX>
        <locationY>1264</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BlrUserNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BlrPLHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BlrVerticalHeadUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BlrUserUpdate</targetReference>
            </connector>
            <label>BlrUserNotNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>getVertcalHeadByTypeCCUZ</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;&quot;),&quot;&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Retail&quot;),&quot;CCU_ZONAL_RETAIL_N&quot; ,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;MSME&quot;),&quot;CCU_ZONAL_MSME&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Strategic&quot;),&quot;CCU_ZONAL_STRATEGIC&quot;,&quot;CCU_ZONAL_KEA&quot;)))
)</expression>
    </formulas>
    <formulas>
        <name>getVerticalHeadByTypeBLRZ</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;&quot;),&quot;&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Retail&quot;),&quot;BLR_ZONAL_RETAIL_N&quot; ,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;MSME&quot;),&quot;BLR_ZONAL_MSME&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Strategic&quot;),&quot;BLR_ZONAL_STRATEGIC&quot;,&quot;BLR_ZONAL_KEA&quot;))))</expression>
    </formulas>
    <formulas>
        <name>getVerticalHeadByTypeBOMZ</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;&quot;),&quot;&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Retail&quot;),&quot;BOM_ZONAL_RETAIL_N&quot; ,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;MSME&quot;),&quot;BOM_ZONAL_MSME&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Strategic&quot;),&quot;BOM_ZONAL_STRATEGIC&quot;,&quot;BOM_ZONAL_KEA&quot;))))</expression>
    </formulas>
    <formulas>
        <name>getVerticalHeadByTypeDELZ</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;&quot;),&quot;&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Retail&quot;),&quot;DEL_ZONAL_RETAIL_N&quot; ,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;MSME&quot;),&quot;DEL_ZONAL_MSME&quot;,
IF(ISPICKVAL({!$Record.Account.Customer_Category__c},&quot;Strategic&quot;),&quot;DEL_ZONAL_STRATEGIC&quot;,&quot;DEL_ZONAL_KEA&quot;)))
)</expression>
    </formulas>
    <interviewLabel>Update Opportunity Vertical and Zonal Head {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Vertical and Zonal Head</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BlrPLHeadRole</name>
        <label>BlrPLHeadRole</label>
        <locationX>550</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlrRoleNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLR_P_L_HEAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BlrPLHeadUser</name>
        <label>BlrPLHeadUser</label>
        <locationX>553</locationX>
        <locationY>1149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckUserNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BlrPLHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BlrVerticalHeadRole</name>
        <label>BlrVerticalHeadRole</label>
        <locationX>549</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlrPLHeadRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getVerticalHeadByTypeBLRZ</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BlrVerticalHeadUser</name>
        <label>BlrVerticalHeadUser</label>
        <locationX>554</locationX>
        <locationY>1009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlrPLHeadUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BlrVerticalHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BomPLHeadRole</name>
        <label>BomPLHeadRole</label>
        <locationX>783</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBomRoleNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BOM_P_L_HEAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BomPLHeadUser</name>
        <label>BomPLHeadUser</label>
        <locationX>780</locationX>
        <locationY>1138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBomUserNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BomPLHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BomVerticalHeadRole</name>
        <label>BomVerticalHeadRole</label>
        <locationX>783</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BomPLHeadRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getVerticalHeadByTypeBOMZ</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BomVerticalHeadUser</name>
        <label>BomVerticalHeadUser</label>
        <locationX>784</locationX>
        <locationY>1009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BomPLHeadUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BomVerticalHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CcuPLHeadRole</name>
        <label>CcuPLHeadRole</label>
        <locationX>991</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCcuRoleNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCU_P_L_HEAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CcuPLHeadUser</name>
        <label>CcuPLHeadUser</label>
        <locationX>992</locationX>
        <locationY>867</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CcuVerticalHeadUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CcuPLHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CcuVerticalHeadRole</name>
        <label>CcuVerticalHeadRole</label>
        <locationX>984</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CcuPLHeadRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getVertcalHeadByTypeCCUZ</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CcuVerticalHeadUser</name>
        <label>CcuVerticalHeadUser</label>
        <locationX>992</locationX>
        <locationY>1004</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCcuUserNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CcuVerticalHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DELPLHeadRole</name>
        <label>DELPLHeadRole</label>
        <locationX>302</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Delz_Role_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEL_P_L_HEAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DELPLHeadUser</name>
        <label>DELPLHeadUser</label>
        <locationX>300</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DELVerticalHeadUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DELPLHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DELVerticalHeadUser</name>
        <label>DELVerticalHeadUser</label>
        <locationX>300</locationX>
        <locationY>992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DLEVerticalHeadRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DLEVerticalHeadRole</name>
        <label>DLEVerticalHeadRole</label>
        <locationX>303</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DELPLHeadRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getVerticalHeadByTypeDELZ</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BlrUserUpdate</name>
        <label>BlrUserUpdate</label>
        <locationX>554</locationX>
        <locationY>1382</locationY>
        <inputAssignments>
            <field>Zonal_HEAD__c</field>
            <value>
                <elementReference>BlrPLHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zonal_Vertical_Head__c</field>
            <value>
                <elementReference>BlrVerticalHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>BomUserUpdate</name>
        <label>BomUserUpdate</label>
        <locationX>793</locationX>
        <locationY>1385</locationY>
        <inputAssignments>
            <field>Zonal_HEAD__c</field>
            <value>
                <elementReference>BomPLHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zonal_Vertical_Head__c</field>
            <value>
                <elementReference>BomVerticalHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatCcuUsers</name>
        <label>updatCcuUsers</label>
        <locationX>998</locationX>
        <locationY>1272</locationY>
        <inputAssignments>
            <field>Zonal_HEAD__c</field>
            <value>
                <elementReference>CcuPLHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zonal_Vertical_Head__c</field>
            <value>
                <elementReference>CcuVerticalHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Users_in_opp</name>
        <label>Update Users in opp</label>
        <locationX>299</locationX>
        <locationY>1250</locationY>
        <inputAssignments>
            <field>Zonal_HEAD__c</field>
            <value>
                <elementReference>DELPLHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zonal_Vertical_Head__c</field>
            <value>
                <elementReference>DELVerticalHeadUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>544</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
