force-app/main/default/flows/Update_Case_MTD_Analytics_at_Customer_Dashboard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Case_Count_From_GraphQL</name>
        <label>Get Case Count From GraphQL</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>CaseCountForCustomerDashboard</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isClosed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseCountForCustomerDashboard</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2024-04-30</dateValue>
        </value>
    </constants>
    <constants>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2021-01-01</dateValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Update_Case_MTD_Analytics_at_Customer_Dashboard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_Case_MTD_Analytics_at_Customer_Dashboard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>CasesOpenMTD__c</field>
            <value>
                <elementReference>Get_Case_Count_From_GraphQL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CustomerDashboard__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-01</startDate>
            <startTime>12:58:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <waits>
        <name>Wait</name>
        <label>Wait</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X0_Hours</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Case_Count_From_GraphQL</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>0 Hours</label>
        </waitEvents>
    </waits>
</Flow>
