force-app/main/default/flows/Update_CCEC_OU_Assignment_logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_ccec_of</name>
        <label>assign ccec of</label>
        <locationX>262</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>$Record.CCEC_OF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkgkeandgice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_integration_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complaint_OU</name>
        <label>Complaint OU</label>
        <locationX>807</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>$Record.CCEC_OU_Assignment_Logic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Complaint_Actionable_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>exception_action_ou</name>
        <label>exception action ou</label>
        <locationX>1298</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>$Record.CCEC_OU_Assignment_Logic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Delivery_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Stock_OU</name>
        <label>Set Stock OU</label>
        <locationX>780</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>$Record.CCEC_OU_Assignment_Logic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Stock_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stock_Rece_OU</name>
        <label>Stock Rece OU</label>
        <locationX>1291</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>$Record.CCEC_OU_Assignment_Logic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Stock_Receiving_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Type_and_SubType</name>
        <label>Check for Type and SubType</label>
        <locationX>500</locationX>
        <locationY>618</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Type_is_UnDelivered_and_SubType_is_Non_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undelivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON DELIVERED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Stock_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stock_OU</targetReference>
            </connector>
            <label>If Type is UnDelivered and SubType is Non Delivered</label>
        </rules>
        <rules>
            <name>For_Type_Undelivered_and_Sub_Type_Non_Delivered_with_Stock_receiving_OU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undelivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON DELIVERED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Stock_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Stock_Receiving_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stock_Rece_OU</targetReference>
            </connector>
            <label>For Type Undelivered and Sub Type Non Delivered with Stock receiving OU</label>
        </rules>
        <rules>
            <name>If_Record_Type_is_Complaint_or_Query</name>
            <conditionLogic>(1 AND 3) OR 2 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Sub_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NON DELIVERED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Complaint_Actionable_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complaint_OU</targetReference>
            </connector>
            <label>If Record Type is Complaint or Query</label>
        </rules>
        <rules>
            <name>if_type_is_exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exception_action_ou</targetReference>
            </connector>
            <label>if type is exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_integration_user</name>
        <label>check if integration user</label>
        <locationX>285</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_int_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewCCECOU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newccecou</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Type_and_SubType</targetReference>
            </connector>
            <label>if not int. user</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkgkeandgice</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL( {!$Record.Case__r.Company_of__c} , &apos;102&apos; ), &apos;GKE&apos;, &apos;GICE&apos;)</expression>
    </formulas>
    <interviewLabel>Update CCEC OU Assignment logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update CCEC OU Assignment logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assign_ccec_of</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCEC_OU_Assignment_Logic__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NewCCECOU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CCEC__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ComplaintRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Complaint</stringValue>
        </value>
    </variables>
    <variables>
        <name>Integrationuser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>User API</stringValue>
        </value>
    </variables>
    <variables>
        <name>Integrationuser1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>API User</stringValue>
        </value>
    </variables>
    <variables>
        <name>newccecou</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Query</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Query</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueryRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Query</stringValue>
        </value>
    </variables>
</Flow>
