force-app/main/default/flows/Update_Complaint_Actionable_OU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Booking_OU_to_be_populated</name>
        <label>Booking OU to be populated</label>
        <locationX>1458</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Complaint_Actionable_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Booking_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CCEC_Action_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Booking_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_as_Delivery_OU</name>
        <label>Update as Delivery OU</label>
        <locationX>1370</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>$Record.Complaint_Actionable_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CCEC_Action_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_as_Delivery_OU_for_Delayed_Connection</name>
        <label>Update as Delivery OU for Delayed Connection</label>
        <locationX>1986</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Complaint_Actionable_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CCEC_Action_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_as_Pick_Up_OU</name>
        <label>Update as Pick Up OU</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.PickUp_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pick_Up_Ref_ID__r.PickUp_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Complaint_Actionable_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PickUp_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pick_Up_Ref_ID__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pick_Up_Ref_ID__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CCEC_Action_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Complaint_Actionable_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_as_Stock_OU</name>
        <label>Update as Stock OU</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Complaint_Actionable_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CCEC_Action_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_as_Stock_Receiving_OU</name>
        <label>Update as Stock Receiving OU</label>
        <locationX>1722</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Complaint_Actionable_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock_Receiving_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CCEC_Action_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Pickup_OU_for_Invalid_Docket_Number</name>
        <label>Update Pickup OU for Invalid Docket Number</label>
        <locationX>2250</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.PickUp_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pick_Up_Ref_ID__r.PickUp_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Complaint_Actionable_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PickUp_OU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CCEC_Action_OU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PickUp_OU__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Conditions_for_Updating_Complaint_Actionable_OU</name>
        <label>Conditions for Updating Complaint Actionable OU</label>
        <locationX>1370</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conditions_for_PickUp_OU_to_be_Autopopulated</name>
            <conditionLogic>(1 AND 5 AND ((2 AND 3) OR (2 AND 4)) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MISSED PICKUP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LATE PICKUP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Ref_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Pick_Up_OU</targetReference>
            </connector>
            <label>Conditions for PickUp OU to be Autopopulated</label>
        </rules>
        <rules>
            <name>Conditions_for_Stock_OU_to_be_Autopopulated</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delayed Connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Query</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELIVERY REQUESTED BEFORE ADD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stock_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Stock_OU</targetReference>
            </connector>
            <label>Conditions for Stock OU to be Autopopulated</label>
        </rules>
        <rules>
            <name>Conditions_for_Delivery_OU_to_be_Autopopulated</name>
            <conditionLogic>14 AND (1 AND ((2) OR (3) OR (5 AND (6 OR 7 OR 8 OR 9 OR 10 OR 15))) OR (4) OR (11 AND (12 OR 13)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undelivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoicing and Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOCUMENT MISSING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON RECIEPT OF POD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FREIGHT REFUND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON RECIEPT OF COD AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COD DD LOST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Query</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REBOOKING WITHOUT INFORMATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VARIANCE IN ADD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>95</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Delivery_OU</targetReference>
            </connector>
            <label>Conditions for Delivery OU to be Autopopulated</label>
        </rules>
        <rules>
            <name>Condition_for_Misbehaviour_By_Gatite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoicing and Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MISBEHAVIOUR BY GATIITE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Docket_Pickup_Slip_No</targetReference>
            </connector>
            <label>Condition for Misbehaviour By Gatite</label>
        </rules>
        <rules>
            <name>Conditions_for_Booking_OU_to_be_Autopopulated</name>
            <conditionLogic>1 AND 5 AND ( (2 AND 3) OR (2 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoicing and Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXCESS FREIGHT CHARGES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DISCREPANCY IN BILLS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_OU_to_be_populated</targetReference>
            </connector>
            <label>Conditions for Booking OU to be Autopopulated</label>
        </rules>
        <rules>
            <name>Conditions_for_Stock_Receiving_OU_to_be_Autopopulated</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4)) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delayed Connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Query</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELIVERY REQUESTED BEFORE ADD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stock_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stock_Receiving_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Stock_Receiving_OU</targetReference>
            </connector>
            <label>Conditions for Stock Receiving OU to be Autopopulated</label>
        </rules>
        <rules>
            <name>For_Type_Delayed_Connection_Delivery_OU_to_be_autopopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delayed Connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stock_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stock_Receiving_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Delivery_OU_for_Delayed_Connection</targetReference>
            </connector>
            <label>For Type Delayed Connection Delivery OU to be autopopulated</label>
        </rules>
        <rules>
            <name>For_Sub_Type_Invalid_Docket_Number_Pickup_OU_to_be_Autopopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComplaintRecord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INVALID DOCKET NUMBER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Ref_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Docket_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pickup_OU_for_Invalid_Docket_Number</targetReference>
            </connector>
            <label>For Sub Type Invalid Docket Number Pickup OU to be Autopopulated</label>
        </rules>
        <rules>
            <name>Delivery_OU_For_Query_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELIVERY REQUESTED BEFORE ADD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Query</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Delivery_OU</targetReference>
            </connector>
            <label>Delivery OU For Query Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Docket_Pickup_Slip_No</name>
        <label>Docket &amp; Pickup Slip No</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Docket_No_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Docket_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_OU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Ref_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Delivery_OU</targetReference>
            </connector>
            <label>Docket No True</label>
        </rules>
        <rules>
            <name>Pick_Up_Slip_No_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Ref_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Docket_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_as_Pick_Up_OU</targetReference>
            </connector>
            <label>Pick Up Slip No True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Complaint Actionable OU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Complaint Actionable OU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conditions_for_Updating_Complaint_Actionable_OU</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Complaint_Actionable_OU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CCEC_Action_OU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ComplaintRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Complaint</stringValue>
        </value>
    </variables>
    <variables>
        <name>Query</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Query</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueryRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Query</stringValue>
        </value>
    </variables>
</Flow>
