force-app/main/default/flows/Update_The_Qualifiers_For_Auto_Deactivation_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>QualifiesForAutoDeactivationFieldFormula</name>
        <dataType>Boolean</dataType>
        <expression>If (ISBLANK({!varProfileCMDTRecord}), false, true)</expression>
    </formulas>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update The Qualifiers For Auto Deactivation Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_the_CMDT_for_Profiles_for_Auto_Deactivation</name>
        <label>Look up the CMDT for Profiles for Auto-Deactivation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Qualifies_for_Auto_Deactivation_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProfileName</elementReference>
            </value>
        </filters>
        <object>Profiles_for_Auto_Deactivation__mdt</object>
        <outputAssignments>
            <assignToReference>varProfileCMDTRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Qualifies_for_Auto_Deactivation_Field</name>
        <label>Update the Qualifies for Auto-Deactivation Field</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qualifies_for_Auto_Deactivation__c</field>
            <value>
                <elementReference>QualifiesForAutoDeactivationFieldFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_up_the_CMDT_for_Profiles_for_Auto_Deactivation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varProfileCMDTRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
