force-app/main/default/flows/Update_Cross_Sell_Lead_To_ATL_Created_By_Gati.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Patch_Lead</name>
        <label>Patch Lead</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <actionName>PatchLead.PatchLead</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Callout_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>$Record.ExternalID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PatchLead.PatchLead</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>varBodyString</name>
        <label>varBodyString</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <actionName>LeadApexBodyUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Patch_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>varApexBodyForString</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadApexBodyUtility</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Parameters</name>
        <label>Set Parameters</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>requestBody.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Companyx5fProductx5fCodex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GATI_Company_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fLeadx5fCreatedx5fFromx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Lead_Created_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fLeadx5fStatusx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Lead_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fTopicx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Topic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fVisitx5fRemarksx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Visit_Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Crossx5fSellx5fZonex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Zone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Descriptionx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Expectedx5fBusinessx5fPerx5fMonthx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Expected_Business_Per_Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Leadx5fDatax5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Data__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Leadx5fRejectionx5fReasonx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lost_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Monthlyx5fSpentx5fonx5fexpressx5fLogisticx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monthly_Spent_on_express_Logistic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.OUx5fZonex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_OU_Zone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Otherx5fLeadx5fRejectionx5fReasonx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Paymentx5fmodex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Productx5fListx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Reasonx5fforx5fRevisitx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason_for_Revisit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Revisitx5fDatex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Revisit_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fEmailx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Staff_master_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fLocationx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_OU_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fMobilex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Staff_master_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Senderx5fNamex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_Sender_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Turnoverx5fofx5fthex5fCompanyx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Turnover_of_the_Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Workingx5fonx5fLocationx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cross_Sell_CFS_Locations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.Existingx5fServicex5fProviderx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Existing_Service_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varApexBodyForString</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_Status</name>
        <label>Callout Status?</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Log_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Patch_Lead.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>204.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Cross Sell Lead To ATL Created By Gati   - V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Cross Sell Lead To ATL Created By Gati</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>506</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Error__c</field>
            <value>
                <elementReference>Patch_Lead.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Body__c</field>
            <value>
                <elementReference>varBodyString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseCode__c</field>
            <value>
                <elementReference>Patch_Lead.responseCode</elementReference>
            </value>
        </inputAssignments>
        <object>LeadLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Success</name>
        <label>Log Success</label>
        <locationX>242</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Body__c</field>
            <value>
                <elementReference>varBodyString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseCode__c</field>
            <value>
                <elementReference>Patch_Lead.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LeadLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross Sell</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cross_Sell_Lead_Created_From__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gati CRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>GATI_Company_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>103</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ExternalID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_Parameters</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varSuccessMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Record saved successfully.</text>
    </textTemplates>
    <transforms>
        <name>varApexBodyForString</name>
        <label>varApexBodyForString</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <apexClass>requestBodyWrapper</apexClass>
        <connector>
            <targetReference>varBodyString</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>City</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.City</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Company</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Company</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Company_Product_Code</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Companyx5fProductx5fCodex5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Country</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Country</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cross_Sell_Lead_Created_From</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Crossx5fSellx5fLeadx5fCreatedx5fFromx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cross_Sell_Lead_Status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Crossx5fSellx5fLeadx5fStatusx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cross_Sell_Topic</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Crossx5fSellx5fTopicx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cross_Sell_Visit_Remarks</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Crossx5fSellx5fVisitx5fRemarksx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cross_Sell_Zone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Crossx5fSellx5fZonex5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description_c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Descriptionx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Email</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Existing_Service_Provider</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Existingx5fServicex5fProviderx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Expected_Business_Per_Month</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Expectedx5fBusinessx5fPerx5fMonthx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>FirstName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.FirstName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Industry</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Industry</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LastName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.LastName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LeadSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.LeadSource</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Lead_Data</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Leadx5fDatax5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Lead_Rejection_Reason</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Leadx5fRejectionx5fReasonx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>MobilePhone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.MobilePhone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Monthly_Spent_on_express_Logistic</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Monthlyx5fSpentx5fonx5fexpressx5fLogisticx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OU_Zone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.OUx5fZonex5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Other_Lead_Rejection_Reason</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Otherx5fLeadx5fRejectionx5fReasonx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Payment_mode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Paymentx5fmodex5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Phone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Phone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PostalCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.PostalCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_List</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Productx5fListx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Rating</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Rating</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Reason_for_Revisit</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Reasonx5fforx5fRevisitx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Revisit_Date</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Revisitx5fDatex5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Salutation</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Salutation</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>State</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.State</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Street</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Street</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Title</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Title</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Turnover_of_the_Company</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Turnoverx5fofx5fthex5fCompanyx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Working_on_Location</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Workingx5fonx5fLocationx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sender_Email</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Senderx5fEmailx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sender_Location</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Senderx5fLocationx5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sender_Mobile</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Senderx5fMobilex5fx5fc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sender_Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>requestBody.Senderx5fNamex5fx5fc</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__PatchLead_PatchLead_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
