force-app/main/default/flows/User_Auto_Deactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Deactivation_Email</name>
        <label>Send Deactivation Email</label>
        <locationX>50</locationX>
        <locationY>996</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varDeactivationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varDeactivationSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Warning_Email</name>
        <label>Send Warning Email</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varWarningBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@gatikwe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varWarningSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Threshold_Exceeded</name>
        <label>Threshold Exceeded?</label>
        <locationX>380</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Not Exceeded</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLoginFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_the_Warning_Threshold.Numeric_Data__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceCreationFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_the_Warning_Threshold.Numeric_Data__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Manager_s_Email</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warning_or_Deactivation</name>
        <label>Warning or Deactivation?</label>
        <locationX>182</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Send_Warning_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Warning</defaultConnectorLabel>
        <rules>
            <name>Deactivation</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLoginFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_the_Deactivation_Threshold.Numeric_Data__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceCreationFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_the_Deactivation_Threshold.Numeric_Data__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_the_User</targetReference>
            </connector>
            <label>Deactivation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysSinceCreationFormula</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DaysSinceLoginFormula</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.LastLoginDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>User Auto Deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Auto Deactivation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager_s_Email</name>
        <label>Get Manager’s Email</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning_or_Deactivation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Deactivation_Threshold</name>
        <label>Get the Deactivation Threshold</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Threshold_Exceeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoDeactivationThreshold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Generic_Configurable_Reference__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Warning_Threshold</name>
        <label>Get the Warning Threshold</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Deactivation_Threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoDeactivationWarningThreshold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Generic_Configurable_Reference__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_the_User</name>
        <label>Deactivate the User</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Send_Deactivation_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Warning_Threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qualifies_for_Auto_Deactivation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>varDeactivationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LastName},
You have not logged into Salesforce in over {!Get_the_Deactivation_Threshold.Numeric_Data__c} days. Per our policy, we have deactivated your account. If you believe this was done in error, please contact your System Administrator.

Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>varDeactivationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Salesforce Account Was Deactivated</text>
    </textTemplates>
    <textTemplates>
        <name>varWarningBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LastName},
We’ve noticed that you have not logged in for a while. We have a policy that we will auto-deactivate any users who have not logged into Salesforce in over {!Get_the_Deactivation_Threshold.Numeric_Data__c} days. If you do not want your account to be deactivated, login now.

Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>varWarningSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Warning: Your Salesforce Account May Be Deactivated Soon</text>
    </textTemplates>
</Flow>
