force-app/main/default/flows/user_zone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_blr</name>
        <label>assign blr</label>
        <locationX>734</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>South</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_bom</name>
        <label>assign bom</label>
        <locationX>771</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>West</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_ccu</name>
        <label>assign ccu</label>
        <locationX>786</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>East</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_del</name>
        <label>assign del</label>
        <locationX>601</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>North</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_zone</name>
        <label>check zone</label>
        <locationX>475</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>del_zone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_organization_master.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DEL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_del</targetReference>
            </connector>
            <label>north zone</label>
        </rules>
        <rules>
            <name>BLR_zone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_organization_master.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BLR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_blr</targetReference>
            </connector>
            <label>south zone</label>
        </rules>
        <rules>
            <name>CCU_zone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_organization_master.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CCU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ccu</targetReference>
            </connector>
            <label>east zone</label>
        </rules>
        <rules>
            <name>BOM_zone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_organization_master.Zone_OU_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BOM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_bom</targetReference>
            </connector>
            <label>west zone</label>
        </rules>
    </decisions>
    <interviewLabel>user zone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>user zone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_organization_master</name>
        <label>get organization master</label>
        <locationX>188</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_zone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organi__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_organization_master</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Organi__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organi__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
