force-app/main/default/flows/WhatsApp_functionality.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>assigned</name>
        <label>assigned</label>
        <locationX>812</locationX>
        <locationY>42</locationY>
        <actionName>WhatsAppApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PickUpAcceptanceCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>str1</name>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>str2</name>
            <value>
                <elementReference>PickupStatusUpdateAcceptance</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppApi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>cancelled_action</name>
        <label>cancelled</label>
        <locationX>817</locationX>
        <locationY>211</locationY>
        <actionName>WhatsAppApi</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>str1</name>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>str2</name>
            <value>
                <elementReference>cancelled</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppApi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>closureDocket</name>
        <label>closureDocket</label>
        <locationX>470</locationX>
        <locationY>495</locationY>
        <actionName>WhatsAppApi</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>str1</name>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>str2</name>
            <value>
                <elementReference>ComplaintClosureDocket</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppApi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>closureSlip</name>
        <label>closureSlip</label>
        <locationX>385</locationX>
        <locationY>110</locationY>
        <actionName>WhatsAppApi</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>str1</name>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>str2</name>
            <value>
                <elementReference>ClosurePickupSlipComplaint</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppApi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>fulfilled_action</name>
        <label>fulfilled_action</label>
        <locationX>861</locationX>
        <locationY>486</locationY>
        <actionName>WhatsAppApi</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>str1</name>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>str2</name>
            <value>
                <elementReference>fulfilled</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppApi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>postponed</name>
        <label>postponed</label>
        <locationX>841</locationX>
        <locationY>355</locationY>
        <actionName>WhatsAppApi</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>str1</name>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>str2</name>
            <value>
                <elementReference>PickupStatusUpdatepostponed</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppApi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>triggering_points</name>
        <label>triggering points</label>
        <locationX>197</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pickup_Status_Update_Acceptance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PickUpAcceptanceSend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigned</targetReference>
            </connector>
            <label>Pickup Status Update - Acceptance</label>
        </rules>
        <rules>
            <name>Pickup_Status_Update_Postponement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>postponed</targetReference>
            </connector>
            <label>Pickup Status Update - Postponement</label>
        </rules>
        <rules>
            <name>Pickup_Status_Update_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cancelled_action</targetReference>
            </connector>
            <label>Pickup Status Update - Cancellation</label>
        </rules>
        <rules>
            <name>Pickup_Status_Update_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fulfilled_action</targetReference>
            </connector>
            <label>Pickup Status Update - Completion</label>
        </rules>
        <rules>
            <name>closurePickupslipComplaints</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pick_Up_Ref_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closureSlip</targetReference>
            </connector>
            <label>closurePickupslipComplaint</label>
        </rules>
        <rules>
            <name>ClosureDocketComplaints</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Docket_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closureDocket</targetReference>
            </connector>
            <label>ClosureDocketComplaints</label>
        </rules>
    </decisions>
    <interviewLabel>WhatsApp functionality {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhatsApp for updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>PickUpAcceptanceCheck</name>
        <label>PickUpAcceptanceCheck</label>
        <locationX>966</locationX>
        <locationY>42</locationY>
        <inputAssignments>
            <field>PickUpAcceptanceSend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>triggering_points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>cancelled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>4127235~{!$Record.Shipper_Name__c}~{!$Record.CaseNumber}~{!$Record.Pickup_Date__c}~{!$Record.Non_Pick_Up_Delivery_Reason__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ClosurePickupSlipComplaint</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>4267521~{!$Record.Shipper_Name__c}~{!$Record.CaseNumber}~{!$Record.Sub_Type__c}~{!$Record.Pick_Up_Ref_ID__c}~{!$Record.CreatedDate}~{!$Record.ClosedDate}~https://gatidevorg-pvtltd.cs76.force.com/PostIssueResolution?Caseno={!$Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>ComplaintClosureDocket</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>4267519~{!$Record.Shipper_Name__c}~{!$Record.CaseNumber}~{!$Record.Sub_Type__c}~{!$Record.Docket_Number__c}~{!$Record.CreatedDate}~https://gatidevorg-pvtltd.cs76.force.com/PostIssueResolution?Caseno={!$Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>fulfilled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>4127237~{!$Record.Shipper_Name__c}~{!$Record.CaseNumber}~{!$Record.Pickup_Date__c}~{!$Record.Docket_Number__c}</text>
    </textTemplates>
    <textTemplates>
        <name>PickupStatusUpdateAcceptance</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>4127231~{!$Record.Shipper_Name__c}~{!$Record.CaseNumber}~{!$Record.Pickup_Date__c}~{!$Record.Pickup_GA_Name__c}~{!$Record.Pickup_GA_Contact__c}</text>
    </textTemplates>
    <textTemplates>
        <name>PickupStatusUpdatepostponed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>4127233~{!$Record.Shipper_Name__c}~{!$Record.CaseNumber}~{!$Record.First_Schedule__c}~{!$Record.Pickup_Date__c}~{!$Record.Non_Pick_Up_Delivery_Reason__c}</text>
    </textTemplates>
</Flow>
